@charset "UTF-8";
/*________________ sticky footer __________*/
/* line 25, ../sass/_components.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, ../sass/_components.scss */
html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 34, ../sass/_components.scss */
body {
  min-height: 100%;
  display: block;
}

/* line 39, ../sass/_components.scss */
header {
  height: 250px;
}

/* line 45, ../sass/_components.scss */
#wrap {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background: none;
  display: block;
  position: relative;
}

/* line 56, ../sass/_components.scss */
footer {
  color: white;
  position: relative;
  bottom: 0;
  bottom: auto;
  background: black;
  width: 100%;
  height: 262px;
}
/* line 64, ../sass/_components.scss */
footer .dark-gray-gradient.line.top {
  margin-bottom: 0;
}
/* line 65, ../sass/_components.scss */
footer .data {
  border-top: 2px solid #d4d4d4;
  height: 193px;
  background: #333333;
}
/* line 70, ../sass/_components.scss */
footer .line {
  height: 69px;
  border-bottom: 1px solid #888888;
  margin-bottom: 2px;
}
/* line 75, ../sass/_components.scss */
footer .main {
  padding: 16px 0 0 0;
  color: #d2d2d2;
  width: 1015px;
}
/* line 79, ../sass/_components.scss */
footer .main .col {
  max-width: 238px;
  overflow: hidden;
  margin-right: 8px;
}
/* line 83, ../sass/_components.scss */
footer .main .col.category {
  margin-left: 2px;
}
/* line 85, ../sass/_components.scss */
footer .main .col.category .header {
  margin-left: 8px;
}
/* line 88, ../sass/_components.scss */
footer .main .col.category a:hover .text {
  text-decoration: underline;
}
/* line 92, ../sass/_components.scss */
footer .main .col.sitemap {
  margin-right: 10px;
  width: 234px;
}
/* line 95, ../sass/_components.scss */
footer .main .col.sitemap .header {
  margin-bottom: 6px;
}
/* line 97, ../sass/_components.scss */
footer .main .col.sitemap .header .separator {
  width: 149px;
}
/* line 101, ../sass/_components.scss */
footer .main .col.sitemap hr {
  margin: 0;
  border-bottom: 0;
  width: 188px;
}
/* line 106, ../sass/_components.scss */
footer .main .col.sitemap .search-form {
  margin: 22px 0 0 0;
}
/* line 108, ../sass/_components.scss */
footer .main .col.sitemap .search-form input[type="text"] {
  height: 21px;
  width: 167px;
  border: 1px solid #9e9d9d;
  border-right: 0;
  background: transparent;
}
/* line 115, ../sass/_components.scss */
footer .main .col.sitemap .search-form .button {
  height: 21px;
  border: 1px solid #9e9d9d;
  border-left: 0;
  margin-left: -5px;
  padding: 2px 7px 0 0;
}
/* line 125, ../sass/_components.scss */
footer .main .col.contact {
  width: 226px;
}
/* line 127, ../sass/_components.scss */
footer .main .col.contact .separator {
  width: 167px;
}
/* line 130, ../sass/_components.scss */
footer .main .col.contact .text {
  font-size: 12.5px;
  width: 137px;
  margin: 5px 0 11px 0;
  line-height: 16px;
}
/* line 137, ../sass/_components.scss */
footer .main .col.subscribe {
  max-width: 277px;
  margin-right: 0;
  height: 156px;
  position: relative;
}
/* line 142, ../sass/_components.scss */
footer .main .col.subscribe .separator {
  width: 50px;
}
/* line 145, ../sass/_components.scss */
footer .main .col.subscribe .subscribe-form {
  margin: 8px 0 11px 0;
}
/* line 147, ../sass/_components.scss */
footer .main .col.subscribe .subscribe-form input[type="text"] {
  width: 178px;
  height: 24px;
  background: transparent;
  border: 1px solid #9e9d9d;
  padding-left: 5px;
  font-size: 14px;
  margin: 0 -3px 0 0;
}
/* line 157, ../sass/_components.scss */
footer .main .col.subscribe .social li {
  margin-right: 4px;
}
/* line 160, ../sass/_components.scss */
footer .main .col.subscribe .counter {
  display: inline-block;
  margin-left: -3px;
}
/* line 163, ../sass/_components.scss */
footer .main .col.subscribe .counter img {
  width: 85px;
  height: 28px;
}
/* line 168, ../sass/_components.scss */
footer .main .col.subscribe .copyright {
  bottom: 0;
  left: 0;
  font-size: 13px;
}
/* line 174, ../sass/_components.scss */
footer .main .col .header {
  margin: 0 0 2px 0;
  position: relative;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.2px;
  white-space: nowrap;
  color: #d1d1d1;
}
/* line 183, ../sass/_components.scss */
footer .main .col .header .separator {
  min-width: 103px;
  height: 5px;
  margin: 6px 0 0 3px;
  display: inline-block;
  vertical-align: top;
  background: url("../images/markup/double-dotted.png") repeat-x bottom;
}
/* line 192, ../sass/_components.scss */
footer .main .col .header .empty {
  display: inline-block;
  width: 78px;
}
/* line 197, ../sass/_components.scss */
footer .main .col .list a {
  margin: 0 0 6px 0;
  display: block;
  color: #bebebe;
  text-transform: uppercase;
  font-size: 10px;
}
/* line 203, ../sass/_components.scss */
footer .main .col .list a .picture {
  width: 34px;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
}
/* line 209, ../sass/_components.scss */
footer .main .col .list a .text {
  display: inline-block;
  vertical-align: top;
  margin: 4px 0 0 7px;
}
/* line 217, ../sass/_components.scss */
footer .main .col a {
  color: #d2d2d2;
}

/* line 225, ../sass/_components.scss */
.main {
  width: 1000px;
  margin: 0 auto;
}
/* line 228, ../sass/_components.scss */
.main.big {
  width: 1200px;
}
/* line 229, ../sass/_components.scss */
.main.center {
  text-align: center;
}

/*________________ ╨║╨╗╨░╤Б╤Б╤Л-╤Е╨╡╨╗╨┐╨╡╤А╤Л _________*/
/* line 234, ../sass/_components.scss */
.dot {
  border-bottom: 1px dotted black;
}
/* line 236, ../sass/_components.scss */
.dot:hover {
  border-bottom: none;
  text-decoration: none;
}

/* line 242, ../sass/_components.scss */
a {
  text-decoration: none;
  color: black;
}
/* line 245, ../sass/_components.scss */
a:hover {
  text-decoration: underline;
}

/* line 250, ../sass/_components.scss */
.dark-gray-gradient {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjA5MTUwNiIgeTE9IjAuMTU4NDk0IiB4Mj0iMS4wOTE1MDYiIHkyPSIwLjg0MTUwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUyNTI1MiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNGQ0ZDRkIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDM0MzQzIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(330deg, #525252, #4d4d4d, #434343);
  background-image: -webkit-linear-gradient(330deg, #525252, #4d4d4d, #434343);
  background-image: linear-gradient(120deg, #525252, #4d4d4d, #434343);
}
/* line 252, ../sass/_components.scss */
.dark-gray-gradient.line {
  height: 73px;
  background: url("../images/markup/diagonal-line.png"), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjA5MTUwNiIgeTE9IjAuMTU4NDk0IiB4Mj0iMS4wOTE1MDYiIHkyPSIwLjg0MTUwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU2NTY1NiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNGQ0ZDRkIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDM0MzQzIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: url("../images/markup/diagonal-line.png"), -moz-linear-gradient(330deg, #565656, #4d4d4d, #434343);
  background: url("../images/markup/diagonal-line.png"), -webkit-linear-gradient(330deg, #565656, #4d4d4d, #434343);
  background: url("../images/markup/diagonal-line.png"), linear-gradient(120deg, #565656, #4d4d4d, #434343);
}
/* line 255, ../sass/_components.scss */
.dark-gray-gradient.line.top {
  border-top: 2px solid #d4d4d4;
}
/* line 256, ../sass/_components.scss */
.dark-gray-gradient.line.bottom {
  border-bottom: 2px solid #d4d4d4;
}

/* line 260, ../sass/_components.scss */
.light-gray-gradient {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYxNjI2NCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNTU1NTU1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNGE0YTRhIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #616264), color-stop(50%, #555555), color-stop(100%, #4a4a4a));
  background-image: -moz-linear-gradient(#616264, #555555, #4a4a4a);
  background-image: -webkit-linear-gradient(#616264, #555555, #4a4a4a);
  background-image: linear-gradient(#616264, #555555, #4a4a4a);
}

/* line 264, ../sass/_components.scss */
.line {
  height: 69px;
  background: url("../images/markup/diagonal-line.png");
}

/* line 269, ../sass/_components.scss */
.chain-block > div, .chain-block > span, .chain-block > form {
  display: inline-block;
  vertical-align: top;
}

/* line 273, ../sass/_components.scss */
.point {
  cursor: pointer;
}

/* line 277, ../sass/_components.scss */
.rel {
  position: relative;
}

/* line 281, ../sass/_components.scss */
.abs {
  position: absolute;
}

/* line 285, ../sass/_components.scss */
.icon-balloon {
  position: relative;
}
/* line 287, ../sass/_components.scss */
.icon-balloon span {
  width: 16px;
  margin: 0;
  top: 2px;
  left: 4px;
  font-size: 12px;
  font-style: normal;
  color: #fde9e9;
  position: absolute;
  overflow: hidden;
  text-overflow: "clip";
  white-space: nowrap;
}

/* line 301, ../sass/_components.scss */
.social li {
  display: inline;
  list-style-type: none;
}

/* line 307, ../sass/_components.scss */
.form input[type="text"] {
  padding: 0px 0 1px 8px;
}

/* line 314, ../sass/_components.scss */
form.search-form input[type="text"] {
  padding: 0px 0 0 8px;
  font-size: 15px;
  color: #d0d0d0;
}
/* line 321, ../sass/_components.scss */
form input.image {
  background-color: transparent;
  border: 0;
}

/* line 327, ../sass/_components.scss */
.btn {
  color: white;
  background: #f25857;
  border: 0;
  height: 24px;
  font-size: 13px;
  text-transform: lowercase;
  padding: 0 9px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px;
}
/* line 336, ../sass/_components.scss */
.btn.under {
  text-transform: lowercase;
}
/* line 337, ../sass/_components.scss */
.btn.blue {
  background: #508bcc;
}

/* line 340, ../sass/_components.scss */
.box {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 342, ../sass/_components.scss */
.box.dark {
  padding: 7px;
  border-top: 1px solid #9f9f9f;
  border-right: 1px solid #51504e;
  border-bottom: 1px solid #32323e;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgzODM4MyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNmY2ZjZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNjI2MDYxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #838383), color-stop(50%, #6f6f6f), color-stop(100%, #626061));
  background-image: -moz-linear-gradient(#838383, #6f6f6f, #626061);
  background-image: -webkit-linear-gradient(#838383, #6f6f6f, #626061);
  background-image: linear-gradient(#838383, #6f6f6f, #626061);
  -moz-box-shadow: rgba(1, 1, 1, 0.5) 0px 0px 6px 1px;
  -webkit-box-shadow: rgba(1, 1, 1, 0.5) 0px 0px 6px 1px;
  box-shadow: rgba(1, 1, 1, 0.5) 0px 0px 6px 1px;
}
/* line 349, ../sass/_components.scss */
.box.dark .data {
  padding: 5px 11px;
}
/* line 352, ../sass/_components.scss */
.box.dark hr {
  height: 1px;
  background: #9f9f9f;
  border-top: 1px solid #7a7a7a;
  border-bottom: 1px solid #7a7a7a;
  border-left: 0;
  border-right: 0;
  margin: 0;
}
/* line 362, ../sass/_components.scss */
.box .inner {
  height: 263px;
  background: #6d6d6d;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-box-shadow: rgba(1, 1, 1, 0.5) 0px 0px 6px 1px inset;
  -webkit-box-shadow: rgba(1, 1, 1, 0.5) 0px 0px 6px 1px inset;
  box-shadow: rgba(1, 1, 1, 0.5) 0px 0px 6px 1px inset;
}

/*___________________ header _______________*/
/* line 372, ../sass/_components.scss */
#bar-block {
  background: #333333;
  height: 30px;
  text-transform: uppercase;
  color: #d0d0d0;
  font-size: 11px;
}
/* line 378, ../sass/_components.scss */
#bar-block .item {
  position: relative;
}
/* line 381, ../sass/_components.scss */
#bar-block .item > * {
  display: inline-block;
  vertical-align: top;
}
/* line 384, ../sass/_components.scss */
#bar-block .item + .item {
  margin-right: 29px;
}
/* line 387, ../sass/_components.scss */
#bar-block .item > span {
  margin: 9px 4px 0 4px;
}
/* line 392, ../sass/_components.scss */
#bar-block .item.project .slide {
  display: none;
  z-index: 9;
}
/* line 397, ../sass/_components.scss */
#bar-block .item.project.active .slide {
  display: block;
}
/* line 404, ../sass/_components.scss */
#bar-block .item:hover > span {
  color: white;
}
/* line 408, ../sass/_components.scss */
#bar-block .item .icon:first-child, #bar-block .item #scroll-up:first-child, #bar-block .item .main-page .promo #slider .bx-controls-direction a:first-child, .main-page .promo #slider .bx-controls-direction #bar-block .item a:first-child, #bar-block .item .main-page .promo #slider .bx-pager .bx-pager-item a:first-child, .main-page .promo #slider .bx-pager .bx-pager-item #bar-block .item a:first-child {
  margin-top: 5px;
}
/* line 411, ../sass/_components.scss */
#bar-block .item .icon-arrow {
  margin-top: 10px;
}
/* line 415, ../sass/_components.scss */
#bar-block .item.avatar {
  width: 168px;
  font-size: 12px;
}
/* line 418, ../sass/_components.scss */
#bar-block .item.avatar span {
  max-width: 96px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 422, ../sass/_components.scss */
#bar-block .item.avatar img {
  width: 26px;
  height: 26px;
  vertical-align: top;
  margin: 2px 0 0 0;
  border: 1px solid #646669;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 431, ../sass/_components.scss */
#bar-block .item.message {
  margin-left: 5px;
}
/* line 434, ../sass/_components.scss */
#bar-block .item .slide {
  width: 245px;
  height: 320px;
  top: 30px;
  left: 6px;
  position: absolute;
  cursor: auto;
}
/* line 441, ../sass/_components.scss */
#bar-block .item .slide::after {
  content: '';
  position: absolute;
  left: 105px;
  top: -14px;
  border: 8px solid transparent;
  border-bottom: 7px solid #838383;
}
/* line 449, ../sass/_components.scss */
#bar-block .item .slide .project-list {
  overflow-y: auto;
  overflow-x: none;
  height: 235px;
}
/* line 454, ../sass/_components.scss */
#bar-block .item .slide .count {
  width: 40px;
  height: 17px;
  padding: 3px 6px 0 0;
  margin-right: 17px;
  display: inline-block;
  background: #f15956;
  color: white;
  font-size: 12px;
  text-align: right;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(1, 1, 1, 0.8) 2px 2px 6px -2px inset;
  -webkit-box-shadow: rgba(1, 1, 1, 0.8) 2px 2px 6px -2px inset;
  box-shadow: rgba(1, 1, 1, 0.8) 2px 2px 6px -2px inset;
}
/* line 467, ../sass/_components.scss */
#bar-block .item .slide .item {
  margin: 0;
  min-height: 40px;
  padding: 7px 0 11px 7px;
  display: block;
  color: #3f4044;
  font-size: 12px;
  letter-spacing: -0.1px;
  border-bottom: 1px solid #d0d1d3;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZWRlZWYyIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTVlOWVjIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f7), color-stop(50%, #edeef2), color-stop(100%, #e5e9ec));
  background-image: -moz-linear-gradient(#f5f5f7, #edeef2, #e5e9ec);
  background-image: -webkit-linear-gradient(#f5f5f7, #edeef2, #e5e9ec);
  background-image: linear-gradient(#f5f5f7, #edeef2, #e5e9ec);
  -moz-box-shadow: #b6b7b9 0px -1px 0px 0px inset, rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset, rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset;
  -webkit-box-shadow: #b6b7b9 0px -1px 0px 0px inset, rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset, rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset;
  box-shadow: #b6b7b9 0px -1px 0px 0px inset, rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset, rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset;
}
/* line 480, ../sass/_components.scss */
#bar-block .item .slide .item:hover {
  border-bottom: 1px solid #598a0d;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E3Y2QyMiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjOGViZTFjIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzNhZjExIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a7cd22), color-stop(50%, #8ebe1c), color-stop(100%, #73af11));
  background-image: -moz-linear-gradient(#a7cd22, #8ebe1c, #73af11);
  background-image: -webkit-linear-gradient(#a7cd22, #8ebe1c, #73af11);
  background-image: linear-gradient(#a7cd22, #8ebe1c, #73af11);
  -moz-box-shadow: #70b212 0px -1px 0px 0px inset, rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset, rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset;
  -webkit-box-shadow: #70b212 0px -1px 0px 0px inset, rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset, rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset;
  box-shadow: #70b212 0px -1px 0px 0px inset, rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset, rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset;
}
/* line 486, ../sass/_components.scss */
#bar-block .item .slide .item:hover .text {
  color: #fffff8;
}
/* line 489, ../sass/_components.scss */
#bar-block .item .slide .item.active:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzNjM2MyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNTU1NTU1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDk0OTQ5Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #636363), color-stop(50%, #555555), color-stop(100%, #494949));
  background-image: -moz-linear-gradient(#636363, #555555, #494949);
  background-image: -webkit-linear-gradient(#636363, #555555, #494949);
  background-image: linear-gradient(#636363, #555555, #494949);
  -moz-box-shadow: #343434 0px -1px 0px 0px inset, rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset, rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset;
  -webkit-box-shadow: #343434 0px -1px 0px 0px inset, rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset, rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset;
  box-shadow: #343434 0px -1px 0px 0px inset, rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset, rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset;
}
/* line 496, ../sass/_components.scss */
#bar-block .item .slide .item .project-logo {
  border: 1px solid #acaea9;
}
/* line 498, ../sass/_components.scss */
#bar-block .item .slide .item .project-logo + .text {
  width: 48%;
  margin: 13px 1px 0 6px;
}
/* line 503, ../sass/_components.scss */
#bar-block .item .slide .item .text {
  width: 82%;
  margin: 4px 0 0 0;
  text-transform: none;
  font-size: 13px;
}
/* line 510, ../sass/_components.scss */
#bar-block .item .slide .status-block {
  padding-top: 3px;
  height: 38px;
}
/* line 513, ../sass/_components.scss */
#bar-block .item .slide .status-block .text {
  margin: 15px 0 0 0;
  font-size: 11px;
  letter-spacing: 0.5px;
}
/* line 518, ../sass/_components.scss */
#bar-block .item .slide .status-block .status-widget {
  margin: 10px 0 0 10px;
}
/* line 520, ../sass/_components.scss */
#bar-block .item .slide .status-block .status-widget .rank {
  height: 25px;
  width: 4px;
  margin: 0 1px 0 0;
  display: inline-block;
  background: #bdbdbd;
  -moz-box-shadow: rgba(1, 1, 1, 0.8) 2px 1px 5px -2px inset;
  -webkit-box-shadow: rgba(1, 1, 1, 0.8) 2px 1px 5px -2px inset;
  box-shadow: rgba(1, 1, 1, 0.8) 2px 1px 5px -2px inset;
}
/* line 527, ../sass/_components.scss */
#bar-block .item .slide .status-block .status-widget .rank.active {
  background: #dd4f4e;
}
/* line 535, ../sass/_components.scss */
#bar-block .search-form {
  margin: 5px 0 0 46px;
}
/* line 537, ../sass/_components.scss */
#bar-block .search-form input:focus {
  outline: 0;
}
/* line 540, ../sass/_components.scss */
#bar-block .search-form .search {
  height: 19px;
  background: #525355;
}
/* line 543, ../sass/_components.scss */
#bar-block .search-form .search input[type="text"] {
  border: 0;
  width: 215px;
  height: 18px;
  margin-right: -3px;
  background: #525355;
}
/* line 550, ../sass/_components.scss */
#bar-block .search-form .search .button {
  height: 19px;
}
/* line 552, ../sass/_components.scss */
#bar-block .search-form .search .button .image {
  margin: 2px 6px 0 6px;
}
/* line 558, ../sass/_components.scss */
#bar-block #language-list {
  margin: 11px 0 0 46px;
  font-size: 12px;
}
/* line 561, ../sass/_components.scss */
#bar-block #language-list:hover > .item {
  display: block !important;
}
/* line 564, ../sass/_components.scss */
#bar-block #language-list .item {
  margin: 0;
}
/* line 566, ../sass/_components.scss */
#bar-block #language-list .item.active {
  color: #ffffff;
  display: block;
  height: 19px;
}
/* line 571, ../sass/_components.scss */
#bar-block #language-list .item.hide {
  display: none;
  color: #f25857;
  height: 22px;
  margin-top: 3px;
}
/* line 576, ../sass/_components.scss */
#bar-block #language-list .item.hide:hover {
  font-weight: bold;
}
/* line 580, ../sass/_components.scss */
#bar-block #language-list .item .icon, #bar-block #language-list .item #scroll-up, #bar-block #language-list .item .main-page .promo #slider .bx-controls-direction a, .main-page .promo #slider .bx-controls-direction #bar-block #language-list .item a, #bar-block #language-list .item .main-page .promo #slider .bx-pager .bx-pager-item a, .main-page .promo #slider .bx-pager .bx-pager-item #bar-block #language-list .item a {
  margin: 4px 0 0 6px;
}

/* line 587, ../sass/_components.scss */
#logo-block {
  height: 94px;
  background: #b9d1e1 url("../images/markup/logo-block-back.gif") no-repeat;
}
/* line 590, ../sass/_components.scss */
#logo-block .logo {
  float: left;
  margin: 7px 0 0 62px;
}
/* line 594, ../sass/_components.scss */
#logo-block .subscribe-block {
  float: right;
  width: 420px;
}
/* line 597, ../sass/_components.scss */
#logo-block .subscribe-block .header {
  margin: 15px 0 0 0;
  color: #508bcc;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}
/* line 604, ../sass/_components.scss */
#logo-block .subscribe-block .text {
  font-size: 13px;
  color: #333333;
  margin-bottom: 6px;
}
/* line 611, ../sass/_components.scss */
#logo-block .subscribe-block .subscribe-form input[type="text"] {
  width: 147px;
  height: 26px;
  font-size: 14px;
  border: 1px solid white;
  background: #e4e4e4;
  color: #7f8184;
  margin-right: -3px;
  -moz-box-shadow: black 1px 1px 6px -3px inset;
  -webkit-box-shadow: black 1px 1px 6px -3px inset;
  box-shadow: black 1px 1px 6px -3px inset;
}
/* line 622, ../sass/_components.scss */
#logo-block .subscribe-block .social {
  display: inline-block;
  margin-left: 22px;
}
/* line 625, ../sass/_components.scss */
#logo-block .subscribe-block .social li a {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: black 1px 1px 6px -1px;
  -webkit-box-shadow: black 1px 1px 6px -1px;
  box-shadow: black 1px 1px 6px -1px;
}

/* line 633, ../sass/_components.scss */
#nav-block {
  height: 47px;
  border-bottom: 1px solid #f2f2f2;
}
/* line 636, ../sass/_components.scss */
#nav-block .menu {
  float: left;
}
/* line 638, ../sass/_components.scss */
#nav-block .menu > .icon, #nav-block .menu > #scroll-up, #nav-block .main-page .promo #slider .bx-controls-direction .menu > a, .main-page .promo #slider .bx-controls-direction #nav-block .menu > a, #nav-block .main-page .promo #slider .bx-pager .bx-pager-item .menu > a, .main-page .promo #slider .bx-pager .bx-pager-item #nav-block .menu > a {
  margin-top: 20px;
}
/* line 641, ../sass/_components.scss */
#nav-block .menu > .item {
  padding: 18px 16px 14px 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fcfcfc;
  cursor: pointer;
}
/* line 647, ../sass/_components.scss */
#nav-block .menu > .item:first-child {
  padding-left: 0px;
}
/* line 650, ../sass/_components.scss */
#nav-block .menu > .item:hover {
  color: #6bb1ec;
}
/* line 655, ../sass/_components.scss */
#nav-block .place {
  float: right;
  font-size: 18px;
  font-weight: bold;
  margin: 15px 3px 0 0;
}
/* line 660, ../sass/_components.scss */
#nav-block .place .region {
  margin-right: 33px;
}
/* line 662, ../sass/_components.scss */
#nav-block .place .region .name {
  color: #6cacf2;
  letter-spacing: 0.2px;
}
/* line 666, ../sass/_components.scss */
#nav-block .place .region .icon, #nav-block .place .region #scroll-up, #nav-block .place .region .main-page .promo #slider .bx-controls-direction a, .main-page .promo #slider .bx-controls-direction #nav-block .place .region a, #nav-block .place .region .main-page .promo #slider .bx-pager .bx-pager-item a, .main-page .promo #slider .bx-pager .bx-pager-item #nav-block .place .region a {
  margin: -2px 3px 0 6px;
  cursor: pointer;
}
/* line 671, ../sass/_components.scss */
#nav-block .place .city {
  color: #ffffff;
  margin-right: 2px;
}

/* line 678, ../sass/_components.scss */
#menu-block {
  height: 80px;
  border-top: 1px solid #d2d2d2;
}
/* line 681, ../sass/_components.scss */
#menu-block .item {
  height: 77px;
  width: 166.16667px;
  float: left;
  text-align: center;
  cursor: pointer;
  border-left: 1px solid #7a7a7a;
  border-right: 1px solid #383838;
  border-top: 1px solid #5d5d5d;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzNjM2MyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNTU1NTU1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDk0OTQ5Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #636363), color-stop(50%, #555555), color-stop(100%, #494949));
  background-image: -moz-linear-gradient(#636363, #555555, #494949);
  background-image: -webkit-linear-gradient(#636363, #555555, #494949);
  background-image: linear-gradient(#636363, #555555, #494949);
}
/* line 691, ../sass/_components.scss */
#menu-block .item:hover {
  border-left: 1px solid #6f9fd5;
  border-right: 1px solid #233d5a;
  border-top: 1px solid #6f95bf;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcwYTBkNSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNDk3ZWJhIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNTA4YWNiIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #70a0d5), color-stop(50%, #497eba), color-stop(100%, #508acb));
  background-image: -moz-linear-gradient(#70a0d5, #497eba, #508acb);
  background-image: -webkit-linear-gradient(#70a0d5, #497eba, #508acb);
  background-image: linear-gradient(#70a0d5, #497eba, #508acb);
}
/* line 697, ../sass/_components.scss */
#menu-block .item .picture {
  height: 37px;
  margin: 10px 0 8px 0;
}
/* line 700, ../sass/_components.scss */
#menu-block .item .picture .icon, #menu-block .item .picture #scroll-up, #menu-block .item .picture .main-page .promo #slider .bx-controls-direction a, .main-page .promo #slider .bx-controls-direction #menu-block .item .picture a, #menu-block .item .picture .main-page .promo #slider .bx-pager .bx-pager-item a, .main-page .promo #slider .bx-pager .bx-pager-item #menu-block .item .picture a {
  vertical-align: bottom;
}
/* line 704, ../sass/_components.scss */
#menu-block .item .name {
  color: #fffefe;
  text-transform: uppercase;
  font-size: 11px;
  text-shadow: 0px 2px 3px rgba(10, 10, 10, 0.5);
}

/* line 713, ../sass/_components.scss */
.content {
  width: 1000px;
  min-height: 42px;
  margin-bottom: 14px;
  padding: 6px 0 6px 18px;
  margin-top: 4px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  -moz-box-shadow: black 0px 2px 8px 0px;
  -webkit-box-shadow: black 0px 2px 8px 0px;
  box-shadow: black 0px 2px 8px 0px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 724, ../sass/_components.scss */
#general {
  background-image: url("../images/markup/background.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  height: 100%;
}

/* line 731, ../sass/_components.scss */
#chart {
  margin: 0 0px 0 -3px;
  background: #333333;
  width: 324px;
}
/* line 735, ../sass/_components.scss */
#chart .linked {
  overflow: hidden;
}
/* line 737, ../sass/_components.scss */
#chart .linked.top {
  margin: 18px 0 0 0;
}
/* line 739, ../sass/_components.scss */
#chart .linked.top .tab {
  width: 33.3%;
  margin-left: -3px;
  padding: 7px 0px 4px;
  background: #d2d2d2;
  color: #333333;
  text-transform: uppercase;
}
/* line 746, ../sass/_components.scss */
#chart .linked.top .tab.active {
  background: #508bcc;
  color: white;
}
/* line 753, ../sass/_components.scss */
#chart .linked.middle .tab {
  background: #45454b;
  color: #ffffff;
  margin-left: -4px;
  padding: 7px 16.5px 4px;
}
/* line 758, ../sass/_components.scss */
#chart .linked.middle .tab.active {
  background: #ffffff;
  color: #333333;
}
/* line 764, ../sass/_components.scss */
#chart .linked .tab {
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}
/* line 771, ../sass/_components.scss */
#chart .chart {
  margin-bottom: 2px;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 777, ../sass/_components.scss */
#scroll-up {
  display: none;
  right: 110px;
  position: fixed;
}

/* line 3, ../sass/_sprite.scss */
.icon, #scroll-up, .main-page .promo #slider .bx-controls-direction a, .main-page .promo #slider .bx-pager .bx-pager-item a {
  background: url("../images/markup/sprite.png") no-repeat transparent;
  display: inline-block;
  vertical-align: top;
}

/* line 8, ../sass/_sprite.scss */
.icon-analitik {
  width: 31px;
  height: 31px;
  background-position: -5px -5px;
}

/* line 14, ../sass/_sprite.scss */
.icon-analitik-min {
  width: 15px;
  height: 15px;
  background-position: -46px -5px;
}

/* line 20, ../sass/_sprite.scss */
.icon-arrow {
  width: 8px;
  height: 10px;
  background-position: -71px -5px;
}

/* line 26, ../sass/_sprite.scss */
.icon-balloon {
  width: 22px;
  height: 21px;
  background-position: -89px -5px;
}

/* line 32, ../sass/_sprite.scss */
.icon-button-down {
  width: 27px;
  height: 26px;
  background-position: -121px -5px;
}

/* line 38, ../sass/_sprite.scss */
.icon-down-small {
  width: 19px;
  height: 20px;
  background-position: -158px -5px;
}

/* line 44, ../sass/_sprite.scss */
.icon-facebook {
  width: 26px;
  height: 26px;
  background-position: -187px -5px;
}

/* line 50, ../sass/_sprite.scss */
.icon-facebook-gray {
  width: 30px;
  height: 30px;
  background-position: -46px -41px;
}

/* line 56, ../sass/_sprite.scss */
.icon-favorites {
  width: 19px;
  height: 19px;
  background-position: -86px -41px;
}

/* line 62, ../sass/_sprite.scss */
.icon-investition {
  width: 34px;
  height: 37px;
  background-position: -115px -41px;
}

/* line 68, ../sass/_sprite.scss */
.icon-investition-min {
  width: 16px;
  height: 19px;
  background-position: -159px -41px;
}

/* line 74, ../sass/_sprite.scss */
.icon-law {
  width: 38px;
  height: 36px;
  background-position: -185px -41px;
}

/* line 80, ../sass/_sprite.scss */
.icon-law-min {
  width: 18px;
  height: 18px;
  background-position: -5px -87px;
}

/* line 86, ../sass/_sprite.scss */
.icon-library {
  width: 32px;
  height: 30px;
  background-position: -33px -87px;
}

/* line 92, ../sass/_sprite.scss */
.icon-library-min {
  width: 15px;
  height: 14px;
  background-position: -75px -87px;
}

/* line 98, ../sass/_sprite.scss */
.icon-menu-up {
  width: 30px;
  height: 17px;
  background-position: -159px -87px;
}

/* line 104, ../sass/_sprite.scss */
.icon-my-project {
  width: 19px;
  height: 18px;
  background-position: -199px -87px;
}

/* line 110, ../sass/_sprite.scss */
.icon-my-project-hover, #bar-block .item.project.active .icon-my-project {
  width: 19px;
  height: 18px;
  background-position: -75px -115px;
}

/* line 116, ../sass/_sprite.scss */
.icon-odnoklassniki {
  width: 26px;
  height: 26px;
  background-position: -104px -115px;
}

/* line 122, ../sass/_sprite.scss */
.icon-project {
  width: 49px;
  height: 34px;
  background-position: -140px -114px;
}

/* line 128, ../sass/_sprite.scss */
.icon-project-min {
  width: 23px;
  height: 16px;
  background-position: -199px -115px;
}

/* line 134, ../sass/_sprite.scss */
.icon-region {
  width: 66px;
  height: 37px;
  background-position: -5px -158px;
}

/* line 140, ../sass/_sprite.scss */
.icon-region-min {
  width: 30px;
  height: 17px;
  background-position: -199px -141px;
}

/* line 146, ../sass/_sprite.scss */
.icon-rss-gray {
  width: 30px;
  height: 30px;
  background-position: -81px -168px;
}

/* line 152, ../sass/_sprite.scss */
.icon-search {
  width: 17px;
  height: 18px;
  background-position: -5px -115px;
}

/* line 158, ../sass/_sprite.scss */
.icon-search-gray {
  width: 16px;
  height: 16px;
  background-position: -121px -168px;
}

/* line 164, ../sass/_sprite.scss */
.icon-separator-blue {
  width: 6px;
  height: 6px;
  background-position: -223px -5px;
}

/* line 170, ../sass/_sprite.scss */
.icon-slide-top, #scroll-up {
  width: 39px;
  height: 38px;
  background-position: -147px -158px;
}

/* line 176, ../sass/_sprite.scss */
.icon-slide-up {
  width: 39px;
  height: 38px;
  background-position: -239px -5px;
}

/* line 182, ../sass/_sprite.scss */
.icon-slider-check, .main-page .promo #slider .bx-pager .bx-pager-item a.active {
  width: 17px;
  height: 17px;
  background-position: -5px -53px;
}

/* line 188, ../sass/_sprite.scss */
.icon-slider-left, .main-page .promo #slider .bx-controls-direction .bx-prev {
  width: 40px;
  height: 40px;
  background-position: -233px -53px;
}

/* line 194, ../sass/_sprite.scss */
.icon-slider-left-no {
  width: 40px;
  height: 40px;
  background-position: -239px -103px;
}

/* line 200, ../sass/_sprite.scss */
.icon-slider-right, .main-page .promo #slider .bx-controls-direction .bx-next {
  width: 40px;
  height: 40px;
  background-position: -239px -153px;
}

/* line 206, ../sass/_sprite.scss */
.icon-slider-uncheck, .main-page .promo #slider .bx-pager .bx-pager-item a {
  width: 17px;
  height: 17px;
  background-position: -196px -203px;
}

/* line 212, ../sass/_sprite.scss */
.icon-stick-down {
  width: 9px;
  height: 5px;
  background-position: -81px -153px;
}

/* line 218, ../sass/_sprite.scss */
.icon-tumblr {
  width: 26px;
  height: 26px;
  background-position: -223px -203px;
}

/* line 224, ../sass/_sprite.scss */
.icon-twitter {
  width: 26px;
  height: 26px;
  background-position: -5px -239px;
}

/* line 230, ../sass/_sprite.scss */
.icon-twitter-gray {
  width: 30px;
  height: 30px;
  background-position: -41px -239px;
}

/* line 236, ../sass/_sprite.scss */
.icon-vk {
  width: 26px;
  height: 26px;
  background-position: -81px -239px;
}

/* line 242, ../sass/_sprite.scss */
.icon-vk-gray {
  width: 30px;
  height: 30px;
  background-position: -117px -239px;
}

/* line 248, ../sass/_sprite.scss */
.icon-youtube-gray {
  width: 30px;
  height: 30px;
  background-position: -157px -239px;
}

/*http://draeton.github.io/stitches/*/
/* ╨У╨╗╨░╨▓╨╜╨░╤П ╤Б╤В╤А╨░╨╜╨╕╤Ж╨░ */
/* line 8, ../sass/style.scss */
.main-page #map-block {
  height: 293px;
}
/* line 11, ../sass/style.scss */
.main-page .promo {
  height: 421px;
  border-bottom: 1px solid #d4d4d4;
  background: url("../images/markup/slider-background.png") no-repeat center;
}
/* line 15, ../sass/style.scss */
.main-page .promo #slider {
  min-width: 300px;
  min-height: 1px;
  max-width: 674px;
}
/* line 19, ../sass/style.scss */
.main-page .promo #slider .bx-viewport {
  border: 0;
  left: 0;
  background: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 25, ../sass/style.scss */
.main-page .promo #slider .info-slide {
  min-height: 349px;
}
/* line 27, ../sass/style.scss */
.main-page .promo #slider .info-slide .citizen {
  color: #26396e;
  font-size: 73px;
  font-weight: bold;
  margin: 70px auto 0;
  text-align: center;
}
/* line 34, ../sass/style.scss */
.main-page .promo #slider .info-slide .notice {
  color: #26396e;
  text-transform: uppercase;
  margin: 24px 0 0 0;
  padding: 19px 81px 13px;
  background: rgba(255, 255, 255, 0.74);
  font-weight: bold;
  line-height: 29px;
  font-size: 21px;
  text-align: center;
}
/* line 47, ../sass/style.scss */
.main-page .promo #slider .bx-controls-direction a {
  top: 341px;
}
/* line 54, ../sass/style.scss */
.main-page .promo #slider .bx-pager {
  background: rgba(0, 0, 0, 0.34);
  bottom: 0px;
  padding: 5px 18px 5px 0;
  text-align: right;
}
/* line 59, ../sass/style.scss */
.main-page .promo #slider .bx-pager .bx-pager-item {
  text-align: center;
}
/* line 70, ../sass/style.scss */
.main-page .content.main {
  position: relative;
}
/* line 74, ../sass/style.scss */
.main-page .content.main .connected.news-analytic > div {
  display: inline-block;
  vertical-align: top;
}
/* line 77, ../sass/style.scss */
.main-page .content.main .connected.event {
  position: absolute;
  right: 8px;
  top: 6px;
}
/* line 81, ../sass/style.scss */
.main-page .content.main .connected.event .record {
  margin-right: 0px;
}
/* line 82, ../sass/style.scss */
.main-page .content.main .connected.event .button-panel {
  margin-top: -20px;
}
/* line 85, ../sass/style.scss */
.main-page .content.main .banner {
  position: absolute;
  right: 5px;
  top: 522px;
}
/* line 91, ../sass/style.scss */
.main-page .content.main .calendar-block .calendar {
  margin: -4px 0 15px 0;
}
/* line 95, ../sass/style.scss */
.main-page .content.main .left-column, .main-page .content.main .right-column {
  display: inline-block;
  vertical-align: top;
}
/* line 96, ../sass/style.scss */
.main-page .content.main .right-column {
  width: 650px;
}
/* line 97, ../sass/style.scss */
.main-page .content.main .button-panel {
  margin-top: 22px;
  height: 26px;
  text-align: right;
}
/* line 101, ../sass/style.scss */
.main-page .content.main .button-panel .more + .more {
  margin-left: 7px;
}

/* line 108, ../sass/style.scss */
.record {
  width: 305.33333px;
  margin: 0 20px 0 -3px;
}
/* line 111, ../sass/style.scss */
.record:last-child {
  margin-right: 0px;
}
/* line 112, ../sass/style.scss */
.record.big {
  width: 639.66667px;
}
/* line 114, ../sass/style.scss */
.record.big .image {
  width: 639px;
  height: 290px;
}
/* line 119, ../sass/style.scss */
.record.big .text-block .caption {
  padding-bottom: 12px;
}
/* line 122, ../sass/style.scss */
.record.news {
  margin-bottom: 31px;
}
/* line 123, ../sass/style.scss */
.record.event {
  width: 315.33333px;
}
/* line 125, ../sass/style.scss */
.record.event .image {
  width: 316px;
  height: 112px;
}
/* line 130, ../sass/style.scss */
.record.event .text-block .caption {
  padding: 4px 0 4px 0;
}
/* line 131, ../sass/style.scss */
.record.event .text-block .notice {
  padding: 0 0 9px 0;
}
/* line 134, ../sass/style.scss */
.record .category {
  font-size: 18px;
  text-transform: uppercase;
  padding: 12px 0 12px 1px;
  letter-spacing: 0.3px;
}
/* line 140, ../sass/style.scss */
.record .image {
  width: 304px;
  height: 145px;
}
/* line 144, ../sass/style.scss */
.record .text-block {
  position: relative;
}
/* line 146, ../sass/style.scss */
.record .text-block:hover {
  background: #474747;
}
/* line 148, ../sass/style.scss */
.record .text-block:hover .caption {
  color: #ffffff;
}
/* line 151, ../sass/style.scss */
.record .text-block:hover .date {
  background: #b5b5b5;
  color: #333333;
}
/* line 156, ../sass/style.scss */
.record .text-block .date {
  width: 89px;
  height: 30px;
  margin: -4px 0 0 0;
  text-align: center;
  padding: 6px 0 0 0;
  font-weight: bold;
  font-size: 18px;
  background: #333333;
  color: #e4e4e4;
}
/* line 167, ../sass/style.scss */
.record .text-block .caption {
  color: #264392;
  display: block;
  padding: 7px 11px 6px 12px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
}
/* line 175, ../sass/style.scss */
.record .text-block .notice {
  color: #6c6c6c;
  font-size: 12px;
  padding: 0px 11px 9px 12px;
}
/* line 180, ../sass/style.scss */
.record .text-block .category {
  position: absolute;
  color: #f25857;
  top: 9px;
  right: 29px;
  font-size: 15px;
  padding: 0;
  font-weight: bold;
}
/* line 190, ../sass/style.scss */
.record hr {
  border: 0;
  height: 1px;
  background: #6c6c6c;
}

/* line 196, ../sass/style.scss */
#map-up {
  top: 20px;
  right: -63px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
