/*________________ sticky footer __________*/
/* line 25, ../sass/_components.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, ../sass/_components.scss */
html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 33, ../sass/_components.scss */
body {
  min-height: 100%;
  display: block;
}

/* line 38, ../sass/_components.scss */
header {
  height: 250px;
}

/* line 44, ../sass/_components.scss */
#wrap {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background: none;
  display: block;
  position: relative;
}

/* line 55, ../sass/_components.scss */
footer {
  color: white;
  position: relative;
  bottom: 0;
  bottom: auto;
  background: black;
  width: 100%;
  height: 262px;
}
/* line 63, ../sass/_components.scss */
footer .dark-gray-gradient.line.top {
  margin-bottom: 0;
}
/* line 64, ../sass/_components.scss */
footer .data {
  border-top: 2px solid #d4d4d4;
  height: 193px;
  background: #333333;
}
/* line 69, ../sass/_components.scss */
footer .line {
  height: 69px;
  border-bottom: 1px solid #888888;
  margin-bottom: 2px;
}
/* line 74, ../sass/_components.scss */
footer .main {
  padding: 16px 0 0 0;
  color: #d2d2d2;
  width: 1015px;
}
/* line 78, ../sass/_components.scss */
footer .main .col {
  max-width: 238px;
  overflow: hidden;
  margin-right: 8px;
}
/* line 82, ../sass/_components.scss */
footer .main .col.category {
  margin-left: 2px;
}
/* line 84, ../sass/_components.scss */
footer .main .col.category .header {
  margin-left: 8px;
}
/* line 87, ../sass/_components.scss */
footer .main .col.category a:hover .text {
  text-decoration: underline;
}
/* line 91, ../sass/_components.scss */
footer .main .col.sitemap {
  margin-right: 10px;
  width: 234px;
}
/* line 94, ../sass/_components.scss */
footer .main .col.sitemap .header {
  margin-bottom: 6px;
}
/* line 96, ../sass/_components.scss */
footer .main .col.sitemap .header .separator {
  width: 149px;
}
/* line 100, ../sass/_components.scss */
footer .main .col.sitemap hr {
  margin: 0;
  border-bottom: 0;
  width: 188px;
}
/* line 105, ../sass/_components.scss */
footer .main .col.sitemap .search-form {
  margin: 22px 0 0 0;
}
/* line 107, ../sass/_components.scss */
footer .main .col.sitemap .search-form input[type="text"] {
  height: 21px;
  width: 167px;
  border: 1px solid #9e9d9d;
  border-right: 0;
  background: transparent;
}
/* line 114, ../sass/_components.scss */
footer .main .col.sitemap .search-form .button {
  height: 21px;
  border: 1px solid #9e9d9d;
  border-left: 0;
  margin-left: -5px;
  padding: 2px 7px 0 0;
}
/* line 124, ../sass/_components.scss */
footer .main .col.contact {
  width: 226px;
}
/* line 126, ../sass/_components.scss */
footer .main .col.contact .separator {
  width: 167px;
}
/* line 129, ../sass/_components.scss */
footer .main .col.contact .text {
  font-size: 12.5px;
  width: 137px;
  margin: 5px 0 11px 0;
  line-height: 16px;
}
/* line 136, ../sass/_components.scss */
footer .main .col.subscribe {
  max-width: 277px;
  margin-right: 0;
  height: 156px;
  position: relative;
}
/* line 141, ../sass/_components.scss */
footer .main .col.subscribe .separator {
  width: 50px;
}
/* line 144, ../sass/_components.scss */
footer .main .col.subscribe .subscribe-form {
  margin: 8px 0 11px 0;
}
/* line 146, ../sass/_components.scss */
footer .main .col.subscribe .subscribe-form input[type="text"] {
  width: 178px;
  height: 24px;
  background: transparent;
  border: 1px solid #9e9d9d;
  padding-left: 5px;
  font-size: 14px;
  margin: 0 -3px 0 0;
}
/* line 156, ../sass/_components.scss */
footer .main .col.subscribe .social li {
  margin-right: 4px;
}
/* line 159, ../sass/_components.scss */
footer .main .col.subscribe .counter {
  display: inline-block;
  margin-left: -3px;
}
/* line 162, ../sass/_components.scss */
footer .main .col.subscribe .counter img {
  width: 85px;
  height: 28px;
}
/* line 167, ../sass/_components.scss */
footer .main .col.subscribe .copyright {
  bottom: 0;
  left: 0;
  font-size: 13px;
}
/* line 173, ../sass/_components.scss */
footer .main .col .header {
  margin: 0 0 2px 0;
  position: relative;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.2px;
  white-space: nowrap;
  color: #d1d1d1;
}
/* line 182, ../sass/_components.scss */
footer .main .col .header .separator {
  min-width: 103px;
  height: 5px;
  margin: 6px 0 0 3px;
  display: inline-block;
  vertical-align: top;
  background: url("../images/markup/double-dotted.png") repeat-x bottom;
}
/* line 191, ../sass/_components.scss */
footer .main .col .header .empty {
  display: inline-block;
  width: 78px;
}
/* line 196, ../sass/_components.scss */
footer .main .col .list a {
  margin: 0 0 6px 0;
  display: block;
  color: #bebebe;
  text-transform: uppercase;
  font-size: 10px;
}
/* line 202, ../sass/_components.scss */
footer .main .col .list a .picture {
  width: 34px;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
}
/* line 208, ../sass/_components.scss */
footer .main .col .list a .text {
  display: inline-block;
  vertical-align: top;
  margin: 4px 0 0 7px;
}
/* line 216, ../sass/_components.scss */
footer .main .col a {
  color: #d2d2d2;
}

/* line 224, ../sass/_components.scss */
.main {
  width: 1000px;
  margin: 0 auto;
}
/* line 227, ../sass/_components.scss */
.main.big {
  width: 1200px;
}
/* line 228, ../sass/_components.scss */
.main.center {
  text-align: center;
}

/*________________ классы-хелперы _________*/
/* line 233, ../sass/_components.scss */
.dot {
  border-bottom: 1px dotted black;
}
/* line 235, ../sass/_components.scss */
.dot:hover {
  border-bottom: none;
  text-decoration: none;
}

/* line 241, ../sass/_components.scss */
a {
  text-decoration: none;
  color: black;
}
/* line 244, ../sass/_components.scss */
a:hover {
  text-decoration: underline;
}

/* line 249, ../sass/_components.scss */
.dark-gray-gradient {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjA5MTUwNiIgeTE9IjAuMTU4NDk0IiB4Mj0iMS4wOTE1MDYiIHkyPSIwLjg0MTUwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUyNTI1MiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNGQ0ZDRkIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDM0MzQzIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(330deg, #525252, #4d4d4d, #434343);
  background-image: -webkit-linear-gradient(330deg, #525252, #4d4d4d, #434343);
  background-image: linear-gradient(120deg, #525252, #4d4d4d, #434343);
}
/* line 251, ../sass/_components.scss */
.dark-gray-gradient.line {
  height: 73px;
  background: url("../images/markup/diagonal-line.png"), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjA5MTUwNiIgeTE9IjAuMTU4NDk0IiB4Mj0iMS4wOTE1MDYiIHkyPSIwLjg0MTUwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU2NTY1NiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNGQ0ZDRkIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDM0MzQzIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: url("../images/markup/diagonal-line.png"), -moz-linear-gradient(330deg, #565656, #4d4d4d, #434343);
  background: url("../images/markup/diagonal-line.png"), -webkit-linear-gradient(330deg, #565656, #4d4d4d, #434343);
  background: url("../images/markup/diagonal-line.png"), linear-gradient(120deg, #565656, #4d4d4d, #434343);
}
/* line 254, ../sass/_components.scss */
.dark-gray-gradient.line.top {
  border-top: 2px solid #d4d4d4;
}
/* line 255, ../sass/_components.scss */
.dark-gray-gradient.line.bottom {
  border-bottom: 2px solid #d4d4d4;
}

/* line 259, ../sass/_components.scss */
.light-gray-gradient {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYxNjI2NCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNTU1NTU1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNGE0YTRhIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #616264), color-stop(50%, #555555), color-stop(100%, #4a4a4a));
  background-image: -moz-linear-gradient(#616264, #555555, #4a4a4a);
  background-image: -webkit-linear-gradient(#616264, #555555, #4a4a4a);
  background-image: linear-gradient(#616264, #555555, #4a4a4a);
}

/* line 263, ../sass/_components.scss */
.line {
  height: 69px;
  background: url("../images/markup/diagonal-line.png");
}

/* line 268, ../sass/_components.scss */
.chain-block > div, .chain-block > span, .chain-block > form {
  display: inline-block;
  vertical-align: top;
}

/* line 272, ../sass/_components.scss */
.point {
  cursor: pointer;
}

/* line 276, ../sass/_components.scss */
.rel {
  position: relative;
}

/* line 280, ../sass/_components.scss */
.abs {
  position: absolute;
}

/* line 284, ../sass/_components.scss */
.icon-balloon {
  position: relative;
}
/* line 286, ../sass/_components.scss */
.icon-balloon span {
  width: 16px;
  margin: 0;
  top: 2px;
  left: 4px;
  font-size: 12px;
  font-style: normal;
  color: #fde9e9;
  position: absolute;
  overflow: hidden;
  text-overflow: "clip";
  white-space: nowrap;
}

/* line 300, ../sass/_components.scss */
.social li {
  display: inline;
  list-style-type: none;
}

/* line 306, ../sass/_components.scss */
.form input[type="text"] {
  padding: 0px 0 1px 8px;
}

/* line 313, ../sass/_components.scss */
form.search-form input[type="text"] {
  padding: 0px 0 0 8px;
  font-size: 15px;
  color: #d0d0d0;
}
/* line 320, ../sass/_components.scss */
form input.image {
  background-color: transparent;
  border: 0;
}

/* line 326, ../sass/_components.scss */
.btn {
  color: white;
  background: #f25857;
  border: 0;
  height: 24px;
  font-size: 13px;
  text-transform: lowercase;
  padding: 0 9px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px;
}

/* line 337, ../sass/_components.scss */
.box {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 339, ../sass/_components.scss */
.box.dark {
  padding: 7px;
  border-top: 1px solid #9f9f9f;
  border-right: 1px solid #51504e;
  border-bottom: 1px solid #32323e;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgzODM4MyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNmY2ZjZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNjI2MDYxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #838383), color-stop(50%, #6f6f6f), color-stop(100%, #626061));
  background-image: -moz-linear-gradient(#838383, #6f6f6f, #626061);
  background-image: -webkit-linear-gradient(#838383, #6f6f6f, #626061);
  background-image: linear-gradient(#838383, #6f6f6f, #626061);
  -moz-box-shadow: rgba(1, 1, 1, 0.5) 0px 0px 6px 1px;
  -webkit-box-shadow: rgba(1, 1, 1, 0.5) 0px 0px 6px 1px;
  box-shadow: rgba(1, 1, 1, 0.5) 0px 0px 6px 1px;
}
/* line 346, ../sass/_components.scss */
.box.dark .data {
  padding: 5px 11px;
}
/* line 349, ../sass/_components.scss */
.box.dark hr {
  height: 1px;
  background: #9f9f9f;
  border-top: 1px solid #7a7a7a;
  border-bottom: 1px solid #7a7a7a;
  border-left: 0;
  border-right: 0;
  margin: 0;
}
/* line 359, ../sass/_components.scss */
.box .inner {
  height: 263px;
  background: #6d6d6d;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-box-shadow: rgba(1, 1, 1, 0.5) 0px 0px 6px 1px inset;
  -webkit-box-shadow: rgba(1, 1, 1, 0.5) 0px 0px 6px 1px inset;
  box-shadow: rgba(1, 1, 1, 0.5) 0px 0px 6px 1px inset;
}

/* line 366, ../sass/_components.scss */
.opacity-box {
  background-color: rgba(255, 255, 255, 0.8);
  -moz-box-shadow: black 0px 2px 8px 0px;
  -webkit-box-shadow: black 0px 2px 8px 0px;
  box-shadow: black 0px 2px 8px 0px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 371, ../sass/_components.scss */
.clear {
  clear: both;
}

/*___________________ header _______________*/
/* line 376, ../sass/_components.scss */
#bar-block {
  background: #333333;
  height: 30px;
  text-transform: uppercase;
  color: #d0d0d0;
  font-size: 11px;
}
/* line 382, ../sass/_components.scss */
#bar-block .item {
  position: relative;
}
/* line 385, ../sass/_components.scss */
#bar-block .item > * {
  display: inline-block;
  vertical-align: top;
}
/* line 388, ../sass/_components.scss */
#bar-block .item + .item {
  /*margin-right: 29px;*/
}
/* line 391, ../sass/_components.scss */
#bar-block .item > span {
  margin: 9px 4px 0 4px;
}
/* line 396, ../sass/_components.scss */
#bar-block .item.project .slide {
  display: none;
  z-index: 9;
}
/* line 401, ../sass/_components.scss */
#bar-block .item.project.active .slide {
  display: block;
}
/* line 408, ../sass/_components.scss */
#bar-block .item:hover > span {
  color: white;
}
/* line 412, ../sass/_components.scss */
#bar-block .item .icon:first-child, #bar-block .item .main-page .promo #slider .bx-controls .bx-prev:first-child, .main-page .promo #slider .bx-controls #bar-block .item .bx-prev:first-child {
  margin-top: 5px;
}
/* line 415, ../sass/_components.scss */
#bar-block .item .icon-arrow {
  margin-top: 10px;
}
/* line 419, ../sass/_components.scss */
#bar-block .item.avatar {
  width: 168px;
  font-size: 12px;
}
/* line 422, ../sass/_components.scss */
#bar-block .item.avatar span {
  max-width: 96px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 426, ../sass/_components.scss */
#bar-block .item.avatar img {
  width: 26px;
  height: 26px;
  vertical-align: top;
  margin: 2px 0 0 0;
  border: 1px solid #646669;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 435, ../sass/_components.scss */
#bar-block .item.message {
  margin-left: 5px;
}
/* line 438, ../sass/_components.scss */
#bar-block .item .slide {
  width: 245px;
  height: 320px;
  top: 30px;
  left: 6px;
  position: absolute;
  cursor: auto;
}
/* line 445, ../sass/_components.scss */
#bar-block .item .slide::after {
  content: '';
  position: absolute;
  left: 105px;
  top: -14px;
  border: 8px solid transparent;
  border-bottom: 7px solid #838383;
}
/* line 453, ../sass/_components.scss */
#bar-block .item .slide .project-list {
  overflow-y: auto;
  overflow-x: none;
  height: 235px;
}
/* line 458, ../sass/_components.scss */
#bar-block .item .slide .count {
  width: 40px;
  height: 17px;
  padding: 3px 6px 0 0;
  margin-right: 17px;
  display: inline-block;
  background: #f15956;
  color: white;
  font-size: 12px;
  text-align: right;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(1, 1, 1, 0.8) 2px 2px 6px -2px inset;
  -webkit-box-shadow: rgba(1, 1, 1, 0.8) 2px 2px 6px -2px inset;
  box-shadow: rgba(1, 1, 1, 0.8) 2px 2px 6px -2px inset;
}
/* line 471, ../sass/_components.scss */
#bar-block .item .slide .item {
  margin: 0;
  min-height: 40px;
  padding: 7px 0 11px 7px;
  display: block;
  color: #3f4044;
  font-size: 12px;
  letter-spacing: -0.1px;
  border-bottom: 1px solid #d0d1d3;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZWRlZWYyIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTVlOWVjIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f7), color-stop(50%, #edeef2), color-stop(100%, #e5e9ec));
  background-image: -moz-linear-gradient(#f5f5f7, #edeef2, #e5e9ec);
  background-image: -webkit-linear-gradient(#f5f5f7, #edeef2, #e5e9ec);
  background-image: linear-gradient(#f5f5f7, #edeef2, #e5e9ec);
  -moz-box-shadow: #b6b7b9 0px -1px 0px 0px inset, rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset, rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset;
  -webkit-box-shadow: #b6b7b9 0px -1px 0px 0px inset, rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset, rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset;
  box-shadow: #b6b7b9 0px -1px 0px 0px inset, rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset, rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset;
}
/* line 484, ../sass/_components.scss */
#bar-block .item .slide .item:hover {
  border-bottom: 1px solid #598a0d;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E3Y2QyMiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjOGViZTFjIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzNhZjExIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a7cd22), color-stop(50%, #8ebe1c), color-stop(100%, #73af11));
  background-image: -moz-linear-gradient(#a7cd22, #8ebe1c, #73af11);
  background-image: -webkit-linear-gradient(#a7cd22, #8ebe1c, #73af11);
  background-image: linear-gradient(#a7cd22, #8ebe1c, #73af11);
  -moz-box-shadow: #70b212 0px -1px 0px 0px inset, rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset, rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset;
  -webkit-box-shadow: #70b212 0px -1px 0px 0px inset, rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset, rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset;
  box-shadow: #70b212 0px -1px 0px 0px inset, rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset, rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset;
}
/* line 490, ../sass/_components.scss */
#bar-block .item .slide .item:hover .text {
  color: #fffff8;
}
/* line 493, ../sass/_components.scss */
#bar-block .item .slide .item.active:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzNjM2MyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNTU1NTU1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDk0OTQ5Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #636363), color-stop(50%, #555555), color-stop(100%, #494949));
  background-image: -moz-linear-gradient(#636363, #555555, #494949);
  background-image: -webkit-linear-gradient(#636363, #555555, #494949);
  background-image: linear-gradient(#636363, #555555, #494949);
  -moz-box-shadow: #343434 0px -1px 0px 0px inset, rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset, rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset;
  -webkit-box-shadow: #343434 0px -1px 0px 0px inset, rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset, rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset;
  box-shadow: #343434 0px -1px 0px 0px inset, rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset, rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset;
}
/* line 500, ../sass/_components.scss */
#bar-block .item .slide .item .project-logo {
  border: 1px solid #acaea9;
}
/* line 502, ../sass/_components.scss */
#bar-block .item .slide .item .project-logo + .text {
  width: 48%;
  margin: 13px 1px 0 6px;
}
/* line 507, ../sass/_components.scss */
#bar-block .item .slide .item .text {
  width: 82%;
  margin: 4px 0 0 0;
  text-transform: none;
  font-size: 13px;
}
/* line 514, ../sass/_components.scss */
#bar-block .item .slide .status-block {
  padding-top: 3px;
  height: 38px;
}
/* line 517, ../sass/_components.scss */
#bar-block .item .slide .status-block .text {
  margin: 15px 0 0 0;
  font-size: 11px;
  letter-spacing: 0.5px;
}
/* line 522, ../sass/_components.scss */
#bar-block .item .slide .status-block .status-widget {
  margin: 10px 0 0 10px;
}
/* line 524, ../sass/_components.scss */
#bar-block .item .slide .status-block .status-widget .rank {
  height: 25px;
  width: 4px;
  margin: 0 1px 0 0;
  display: inline-block;
  background: #bdbdbd;
  -moz-box-shadow: rgba(1, 1, 1, 0.8) 2px 1px 5px -2px inset;
  -webkit-box-shadow: rgba(1, 1, 1, 0.8) 2px 1px 5px -2px inset;
  box-shadow: rgba(1, 1, 1, 0.8) 2px 1px 5px -2px inset;
}
/* line 531, ../sass/_components.scss */
#bar-block .item .slide .status-block .status-widget .rank.active {
  background: #dd4f4e;
}
/* line 539, ../sass/_components.scss */
#bar-block .search-form {
  margin: 5px 0 0 46px;
}
/* line 541, ../sass/_components.scss */
#bar-block .search-form input:focus {
  outline: 0;
}
/* line 544, ../sass/_components.scss */
#bar-block .search-form .search {
  height: 19px;
  background: #525355;
}
/* line 547, ../sass/_components.scss */
#bar-block .search-form .search input[type="text"] {
  border: 0;
  width: 215px;
  height: 18px;
  margin-right: -3px;
  background: #525355;
}
/* line 554, ../sass/_components.scss */
#bar-block .search-form .search .button {
  height: 19px;
}
/* line 556, ../sass/_components.scss */
#bar-block .search-form .search .button .image {
  margin: 2px 6px 0 6px;
}
/* line 562, ../sass/_components.scss */
#bar-block #language-list {
  margin: 11px 0 0 46px;
  font-size: 12px;
}
/* line 565, ../sass/_components.scss */
#bar-block #language-list:hover > .item {
  display: block !important;
}
/* line 568, ../sass/_components.scss */
#bar-block #language-list .item {
  margin: 0;
}
/* line 570, ../sass/_components.scss */
#bar-block #language-list .item.active {
  color: #ffffff;
  display: block;
  height: 19px;
}
/* line 575, ../sass/_components.scss */
#bar-block #language-list .item.hide {
  display: none;
  color: #f25857;
  height: 22px;
  margin-top: 3px;
}
/* line 580, ../sass/_components.scss */
#bar-block #language-list .item.hide:hover {
  font-weight: bold;
}
/* line 584, ../sass/_components.scss */
#bar-block #language-list .item .icon, #bar-block #language-list .item .main-page .promo #slider .bx-controls .bx-prev, .main-page .promo #slider .bx-controls #bar-block #language-list .item .bx-prev {
  margin: 4px 0 0 6px;
}

/* line 591, ../sass/_components.scss */
#logo-block {
  height: 94px;
  background: #b9d1e1 url("../images/markup/logo-block-back.gif") no-repeat;
}
/* line 594, ../sass/_components.scss */
#logo-block .logo {
  float: left;
  margin: 7px 0 0 62px;
}
/* line 598, ../sass/_components.scss */
#logo-block .subscribe-block {
  float: right;
  width: 420px;
}
/* line 601, ../sass/_components.scss */
#logo-block .subscribe-block .header {
  margin: 15px 0 0 0;
  color: #508bcc;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}
/* line 608, ../sass/_components.scss */
#logo-block .subscribe-block .text {
  font-size: 13px;
  color: #333333;
  margin-bottom: 6px;
}
/* line 615, ../sass/_components.scss */
#logo-block .subscribe-block .subscribe-form input[type="text"] {
  width: 147px;
  height: 26px;
  font-size: 14px;
  border: 1px solid white;
  background: #e4e4e4;
  color: #7f8184;
  margin-right: -3px;
  -moz-box-shadow: black 1px 1px 6px -3px inset;
  -webkit-box-shadow: black 1px 1px 6px -3px inset;
  box-shadow: black 1px 1px 6px -3px inset;
}
/* line 626, ../sass/_components.scss */
#logo-block .subscribe-block .social {
  display: inline-block;
  margin-left: 22px;
}
/* line 629, ../sass/_components.scss */
#logo-block .subscribe-block .social li a {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: black 1px 1px 6px -1px;
  -webkit-box-shadow: black 1px 1px 6px -1px;
  box-shadow: black 1px 1px 6px -1px;
}

/* line 637, ../sass/_components.scss */
#nav-block {
  height: 47px;
  border-bottom: 1px solid #f2f2f2;
}
/* line 640, ../sass/_components.scss */
#nav-block .menu {
  float: left;
}
/* line 642, ../sass/_components.scss */
#nav-block .menu > .icon, #nav-block .main-page .promo #slider .bx-controls .menu > .bx-prev, .main-page .promo #slider .bx-controls #nav-block .menu > .bx-prev {
  margin-top: 20px;
}
/* line 645, ../sass/_components.scss */
#nav-block .menu > .item {
  padding: 18px 16px 14px 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fcfcfc;
  cursor: pointer;
}
/* line 651, ../sass/_components.scss */
#nav-block .menu > .item:first-child {
  padding-left: 0px;
}
/* line 654, ../sass/_components.scss */
#nav-block .menu > .item:hover {
  color: #6bb1ec;
}
/* line 659, ../sass/_components.scss */
#nav-block .place {
  float: right;
  font-size: 18px;
  font-weight: bold;
  margin: 15px 3px 0 0;
}
/* line 664, ../sass/_components.scss */
#nav-block .place .region {
  margin-right: 33px;
}
/* line 666, ../sass/_components.scss */
#nav-block .place .region .name {
  color: #6cacf2;
  letter-spacing: 0.2px;
}
/* line 670, ../sass/_components.scss */
#nav-block .place .region .icon, #nav-block .place .region .main-page .promo #slider .bx-controls .bx-prev, .main-page .promo #slider .bx-controls #nav-block .place .region .bx-prev {
  margin: -2px 3px 0 6px;
  cursor: pointer;
}
/* line 675, ../sass/_components.scss */
#nav-block .place .city {
  color: #ffffff;
  margin-right: 2px;
}

/* line 682, ../sass/_components.scss */
#menu-block {
  height: 80px;
  border-top: 1px solid #d2d2d2;
}
/* line 685, ../sass/_components.scss */
#menu-block .item {
  height: 76px;
  width: 166.16667px;
  float: left;
  text-align: center;
  cursor: pointer;
  border-left: 1px solid #7a7a7a;
  border-right: 1px solid #383838;
  border-top: 1px solid #5d5d5d;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzNjM2MyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNTU1NTU1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDk0OTQ5Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #636363), color-stop(50%, #555555), color-stop(100%, #494949));
  background-image: -moz-linear-gradient(#636363, #555555, #494949);
  background-image: -webkit-linear-gradient(#636363, #555555, #494949);
  background-image: linear-gradient(#636363, #555555, #494949);
}
/* line 695, ../sass/_components.scss */
#menu-block .item:hover {
  border-left: 1px solid #6f9fd5;
  border-right: 1px solid #233d5a;
  border-top: 1px solid #6f95bf;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcwYTBkNSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNDk3ZWJhIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNTA4YWNiIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #70a0d5), color-stop(50%, #497eba), color-stop(100%, #508acb));
  background-image: -moz-linear-gradient(#70a0d5, #497eba, #508acb);
  background-image: -webkit-linear-gradient(#70a0d5, #497eba, #508acb);
  background-image: linear-gradient(#70a0d5, #497eba, #508acb);
}
/* line 701, ../sass/_components.scss */
#menu-block .item .picture {
  height: 37px;
  margin: 10px 0 8px 0;
}
/* line 704, ../sass/_components.scss */
#menu-block .item .picture .icon, #menu-block .item .picture .main-page .promo #slider .bx-controls .bx-prev, .main-page .promo #slider .bx-controls #menu-block .item .picture .bx-prev {
  vertical-align: bottom;
}
/* line 708, ../sass/_components.scss */
#menu-block .item .name {
  color: #fffefe;
  text-transform: uppercase;
  font-size: 11px;
  text-shadow: 0px 2px 3px rgba(10, 10, 10, 0.5);
}

/* line 717, ../sass/_components.scss */
.content {
  width: 1000px;
  min-height: 42px;
  margin-bottom: 14px;
  padding: 6px 0 6px 18px;
  margin-top: 4px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.4);
  -moz-box-shadow: black 0px 2px 8px 0px;
  -webkit-box-shadow: black 0px 2px 8px 0px;
  box-shadow: black 0px 2px 8px 0px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 728, ../sass/_components.scss */
.content .category {
  font-size: 18px;
  text-transform: uppercase;
  padding: 12px 0 12px 1px;
}

/* line 734, ../sass/_components.scss */
.content.columns {
  margin: 0 auto;
  background: transparent;
  padding: 0;
  padding-top: 30px;
  overflow: visible;
  color: #555;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: black 0px 0px 0px 0px;
  -webkit-box-shadow: black 0px 0px 0px 0px;
  box-shadow: black 0px 0px 0px 0px;
}
/* line 743, ../sass/_components.scss */
.content.columns .side-column {
  width: 326px;
  min-height: 166px;
  float: left;
  position: relative;
}
/* line 748, ../sass/_components.scss */
.content.columns .side-column .profile-image {
  position: absolute;
  top: 21px;
  left: 16px;
  border: 1px solid #CCC;
  width: 102px;
  height: 102px;
}
/* line 756, ../sass/_components.scss */
.content.columns .side-column .profile-text {
  margin: 21px 10px 0 130px;
  font-size: 14px;
}
/* line 760, ../sass/_components.scss */
.content.columns .side-column .load-action {
  position: absolute;
  top: 97px;
  left: 130px;
  background: #F25857;
  color: #FFF;
  font-size: 12px;
  padding: 0 16px;
  line-height: 24px;
  -moz-box-shadow: black 0px 1px 2px 0px;
  -webkit-box-shadow: black 0px 1px 2px 0px;
  box-shadow: black 0px 1px 2px 0px;
}
/* line 771, ../sass/_components.scss */
.content.columns .side-column .profile-name {
  margin: 96px 10px 10px 16px;
  font-size: 14px;
}
/* line 776, ../sass/_components.scss */
.content.columns .main-column {
  margin-left: 337px;
  position: relative;
  padding-bottom: 14px;
  margin-bottom: 20px;
}
/* line 781, ../sass/_components.scss */
.content.columns .main-column .inner-column {
  float: left;
  width: 326px;
  padding-left: 12px;
  padding-top: 18px;
}
/* line 786, ../sass/_components.scss */
.content.columns .main-column .inner-column h2 {
  margin: 4px 0 20px 0;
}
/* line 791, ../sass/_components.scss */
.content.columns .row {
  margin-bottom: 12px;
}
/* line 794, ../sass/_components.scss */
.content.columns .row.extra-margin {
  margin-top: 35px;
}
/* line 797, ../sass/_components.scss */
.content.columns label {
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  margin-left: 2px;
}
/* line 804, ../sass/_components.scss */
.content.columns textarea {
  padding: 5px 8px;
  font-size: 14px;
  background: #ECECEC;
  resize: none;
  width: 312px;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 #FFF;
  border: 1px solid #AAA;
  border-bottom-color: #BBB;
  color: #555;
}
/* line 816, ../sass/_components.scss */
.content.columns input[type="text"] {
  padding: 5px 8px;
  font-size: 14px;
  line-height: 16px;
  background: #ECECEC;
  resize: none;
  width: 312px;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 #FFF;
  border: 1px solid #AAA;
  border-bottom-color: #BBB;
  color: #555;
}
/* line 829, ../sass/_components.scss */
.content.columns .big-textarea {
  height: 100px;
}
/* line 832, ../sass/_components.scss */
.content.columns .middle-textarea {
  height: 58px;
}
/* line 835, ../sass/_components.scss */
.content.columns h2 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 18px;
  color: #508BCC;
}

/* line 843, ../sass/_components.scss */
#general {
  background-image: url("../images/markup/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
}

/* line 849, ../sass/_components.scss */
.col-sm-1 {
  width: 320.33333px;
}

/* line 850, ../sass/_components.scss */
.col-sm-2 {
  width: 660.66667px;
}

/* line 851, ../sass/_components.scss */
.col-sm-3 {
  width: 994px;
}

/* line 852, ../sass/_components.scss */
.col-sm-1, .col-sm-2, .col-sm-3 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
}

/* line 860, ../sass/_components.scss */
.news .date {
  width: 90px;
  height: 25px;
  margin: -5px 0 0 0;
}

/* line 2, ../sass/_sprite.scss */
.icon, .main-page .promo #slider .bx-controls .bx-prev {
  background: url("../images/markup/sprite.png") no-repeat transparent;
  display: inline-block;
  vertical-align: top;
}

/* line 7, ../sass/_sprite.scss */
.icon-analitik {
  width: 31px;
  height: 31px;
  background-position: -5px -5px;
}

/* line 13, ../sass/_sprite.scss */
.icon-analitik-min, .main-page .promo #slider .bx-controls .bx-prev {
  width: 15px;
  height: 15px;
  background-position: -46px -5px;
}

/* line 19, ../sass/_sprite.scss */
.icon-arrow {
  width: 8px;
  height: 10px;
  background-position: -71px -5px;
}

/* line 25, ../sass/_sprite.scss */
.icon-balloon {
  width: 22px;
  height: 21px;
  background-position: -89px -5px;
}

/* line 31, ../sass/_sprite.scss */
.icon-button-down {
  width: 27px;
  height: 26px;
  background-position: -121px -5px;
}

/* line 37, ../sass/_sprite.scss */
.icon-facebook {
  width: 26px;
  height: 26px;
  background-position: -158px -5px;
}

/* line 43, ../sass/_sprite.scss */
.icon-facebook-gray {
  width: 30px;
  height: 30px;
  background-position: -46px -41px;
}

/* line 49, ../sass/_sprite.scss */
.icon-favorites {
  width: 19px;
  height: 19px;
  background-position: -194px -5px;
}

/* line 55, ../sass/_sprite.scss */
.icon-investition {
  width: 34px;
  height: 37px;
  background-position: -86px -41px;
}

/* line 61, ../sass/_sprite.scss */
.icon-investition-min {
  width: 16px;
  height: 19px;
  background-position: -194px -34px;
}

/* line 67, ../sass/_sprite.scss */
.icon-law {
  width: 38px;
  height: 36px;
  background-position: -130px -41px;
}

/* line 73, ../sass/_sprite.scss */
.icon-law-min {
  width: 18px;
  height: 18px;
  background-position: -5px -63px;
}

/* line 79, ../sass/_sprite.scss */
.icon-library {
  width: 32px;
  height: 30px;
  background-position: -178px -63px;
}

/* line 85, ../sass/_sprite.scss */
.icon-library-min {
  width: 15px;
  height: 14px;
  background-position: -5px -103px;
}

/* line 91, ../sass/_sprite.scss */
.icon-menu-up {
  width: 30px;
  height: 17px;
  background-position: -30px -103px;
}

/* line 97, ../sass/_sprite.scss */
.icon-my-project {
  width: 19px;
  height: 18px;
  background-position: -70px -103px;
}

/* line 103, ../sass/_sprite.scss */
.icon-my-project-hover, #bar-block .item.project.active .icon-my-project {
  width: 19px;
  height: 18px;
  background-position: -99px -103px;
}

/* line 109, ../sass/_sprite.scss */
.icon-odnoklassniki {
  width: 26px;
  height: 26px;
  background-position: -128px -103px;
}

/* line 115, ../sass/_sprite.scss */
.icon-project {
  width: 49px;
  height: 34px;
  background-position: -164px -103px;
}

/* line 121, ../sass/_sprite.scss */
.icon-project-min {
  width: 23px;
  height: 16px;
  background-position: -5px -147px;
}

/* line 127, ../sass/_sprite.scss */
.icon-region {
  width: 66px;
  height: 37px;
  background-position: -38px -147px;
}

/* line 133, ../sass/_sprite.scss */
.icon-region-min {
  width: 30px;
  height: 17px;
  background-position: -114px -147px;
}

/* line 139, ../sass/_sprite.scss */
.icon-rss-gray {
  width: 30px;
  height: 30px;
  background-position: -154px -147px;
}

/* line 145, ../sass/_sprite.scss */
.icon-search {
  width: 17px;
  height: 18px;
  background-position: -194px -147px;
}

/* line 151, ../sass/_sprite.scss */
.icon-search-gray {
  width: 16px;
  height: 16px;
  background-position: -5px -175px;
}

/* line 157, ../sass/_sprite.scss */
.icon-separator-blue {
  width: 6px;
  height: 6px;
  background-position: -114px -175px;
}

/* line 163, ../sass/_sprite.scss */
.icon-slider-check {
  width: 17px;
  height: 17px;
  background-position: -194px -175px;
}

/* line 169, ../sass/_sprite.scss */
.icon-slider-left {
  width: 40px;
  height: 40px;
  background-position: -223px -5px;
}

/* line 175, ../sass/_sprite.scss */
.icon-slider-left-no {
  width: 40px;
  height: 40px;
  background-position: -223px -55px;
}

/* line 181, ../sass/_sprite.scss */
.icon-slider-right {
  width: 40px;
  height: 40px;
  background-position: -223px -105px;
}

/* line 187, ../sass/_sprite.scss */
.icon-slider-uncheck {
  width: 17px;
  height: 17px;
  background-position: -221px -155px;
}

/* line 193, ../sass/_sprite.scss */
.icon-stick-down {
  width: 9px;
  height: 5px;
  background-position: -248px -155px;
}

/* line 199, ../sass/_sprite.scss */
.icon-tumblr {
  width: 26px;
  height: 26px;
  background-position: -221px -182px;
}

/* line 205, ../sass/_sprite.scss */
.icon-twitter {
  width: 26px;
  height: 26px;
  background-position: -5px -218px;
}

/* line 211, ../sass/_sprite.scss */
.icon-twitter-gray {
  width: 30px;
  height: 30px;
  background-position: -41px -218px;
}

/* line 217, ../sass/_sprite.scss */
.icon-vk {
  width: 26px;
  height: 26px;
  background-position: -81px -218px;
}

/* line 223, ../sass/_sprite.scss */
.icon-vk-gray {
  width: 30px;
  height: 30px;
  background-position: -117px -218px;
}

/* line 229, ../sass/_sprite.scss */
.icon-youtube-gray {
  width: 30px;
  height: 30px;
  background-position: -157px -218px;
}

/*http://draeton.github.io/stitches/*/
/* Главная страница */
/* line 8, ../sass/style.scss */
.main-page #map-block {
  height: 293px;
}
/* line 11, ../sass/style.scss */
.main-page .promo {
  height: 421px;
  border-bottom: 1px solid #d4d4d4;
  background: url("../images/markup/slider-background.png") no-repeat center;
}
/* line 15, ../sass/style.scss */
.main-page .promo #slider {
  min-width: 300px;
  min-height: 1px;
}
/* line 18, ../sass/style.scss */
.main-page .promo #slider .bx-viewport {
  border: 0;
  left: 0;
  background: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 24, ../sass/style.scss */
.main-page .promo #slider .info-slide {
  min-height: 349px;
}
/* line 26, ../sass/style.scss */
.main-page .promo #slider .info-slide .citizen {
  font-size: 73px;
  font-weight: bold;
  margin: 70px auto 0;
  text-align: center;
}
/* line 32, ../sass/style.scss */
.main-page .promo #slider .info-slide .notice {
  text-transform: uppercase;
  margin: 24px 0 0 0;
  padding: 19px 81px 13px;
  background: rgba(255, 255, 255, 0.74);
  font-weight: bold;
  line-height: 29px;
  font-size: 21px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
