@import "compass";

$width: 1200px;
//ширина рабочей области
$contentWidth: 1000px;
//область для трех колонок
$headerHeight: 250px;
$footerHeight: 262px;
//высота футера

$linkColor: black;

@mixin chain() {
    display: inline-block;
    vertical-align: top;
}

@mixin one-overflow($type: 'clip') {
    overflow: hidden;
    text-overflow: $type;
    white-space: nowrap;
}

/*________________ sticky footer __________*/
*{
	@include box-sizing(border-box);
}
html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100%;
    display: block;
}

header {
    height: $headerHeight;
}
.primary{
    //margin: 0 auto ($footerHeight)*-1;
}
#wrap {
    //основной блок с информацией
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background: none;
    display: block;
    position: relative;
}

footer {
    color: white;
    position: relative;
    bottom: 0;
    bottom: auto;
    background: black;
    width: 100%;
    height: $footerHeight;
	.dark-gray-gradient.line.top{margin-bottom: 0;}
    .data {
		border-top: 2px solid #d4d4d4;
        height: 193px;
        background: #333333;
    }

    .line {
        height: 69px;
        border-bottom: 1px solid #888888;
        margin-bottom: 2px;
    }
    .main {
        padding: 16px 0 0 0;
        color: #d2d2d2;
        width: 1015px;
        .col {
            max-width: 238px;
            overflow: hidden;
            margin-right: 8px;
            &.category {
                margin-left: 2px;
                .header {
                    margin-left: 8px;
                }
                a:hover .text {
                    text-decoration: underline;
                }
            }
            &.sitemap {
                margin-right: 10px;
                width: 234px;
                .header {
                    margin-bottom: 6px;
                    .separator {
                        width: 149px;
                    }
                }
                hr {
                    margin: 0;
                    border-bottom: 0;
                    width: 188px;
                }
                .search-form {
                    margin: 22px 0 0 0;
                    input[type="text"] {
                        height: 21px;
                        width: 167px;
                        border: 1px solid #9e9d9d;
                        border-right: 0;
                        background: transparent;
                    }
                    .button {
                        height: 21px;
                        border: 1px solid #9e9d9d;
                        border-left: 0;
                        margin-left: -5px;
                        padding: 2px 7px 0 0;
                    }
                }

            }
            &.contact {
                width: 226px;
                .separator {
                    width: 167px;
                }
                .text {
                    font-size: 12.5px;
                    width: 137px;
                    margin: 5px 0 11px 0;
                    line-height: 16px;
                }
            }
            &.subscribe {
                max-width: 277px;
                margin-right: 0;
                height: 156px;
                position: relative;
                .separator {
                    width: 50px;
                }
                .subscribe-form {
                    margin: 8px 0 11px 0;
                    input[type="text"] {
                        width: 178px;
                        height: 24px;
                        background: transparent;
                        border: 1px solid #9e9d9d;
                        padding-left: 5px;
                        font-size: 14px;
                        margin: 0 -3px 0 0;
                    }
                }
                .social li {
                    margin-right: 4px;
                }
                .counter {
                    display: inline-block;
                    margin-left: -3px;
                    img {
                        width: 85px;
                        height: 28px;
                    }
                }
                .copyright {
                    bottom: 0;
                    left: 0;
                    font-size: 13px;
                }
            }
            .header {
                margin: 0 0 2px 0;
                position: relative;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: bold;
                letter-spacing: -0.2px;
                white-space: nowrap;
                color: #d1d1d1;
                .separator {
                    //
                    min-width: 103px;
                    height: 5px;
                    margin: 6px 0 0 3px;
                    display: inline-block;
                    vertical-align: top;
                    background: url("../images/markup/double-dotted.png") repeat-x bottom;
                }
                .empty {
                    display: inline-block;
                    width: 78px;
                }
            }
            .list a {
                margin: 0 0 6px 0;
                display: block;
                color: #bebebe;
                text-transform: uppercase;
                font-size: 10px;
                .picture {
                    width: 34px;
                    display: inline-block;
                    vertical-align: bottom;
                    text-align: center;
                }
                .text {
                    display: inline-block;
                    vertical-align: top;
                    margin: 4px 0 0 7px;

                }

            }
            a {
                color: #d2d2d2;
            }
        }

    }
}

.main {
    width: $contentWidth;
    margin: 0 auto;
    &.big{width: $width;}
	&.center{text-align: center;}
    &.abs{
        left: 0;
        right: 0;
        top:0;
    }
    & + .content{
        margin-top: 10px;
    }
}

/*________________ классы-хелперы _________*/

.dot {
    border-bottom: 1px dotted $linkColor;
    &:hover {
        border-bottom: none;
        text-decoration: none;
    }
}

a {
    text-decoration: none;
    color: $linkColor;
    &:hover {
        text-decoration: underline;
    }
}

.dark-gray-gradient {
    @include background-image(linear-gradient(120deg, #525252, #4d4d4d, #434343));
    &.line {
        height: 73px;
        @include background(url('../images/markup/diagonal-line.png'), linear-gradient(120deg, #565656, #4d4d4d, #434343));
        &.top{border-top:2px solid #d4d4d4;}
        &.bottom{border-bottom:2px solid #d4d4d4;}
    }
}

.light-gray-gradient {
    @include background-image(linear-gradient(#616264, #555555, #4a4a4a));
}

.line {
    height: 69px;
    background: url('../images/markup/diagonal-line.png');
    &.back{
        @include background(url('../images/markup/diagonal-line.png'), linear-gradient(120deg, #616264, #555555, #4a4a4a));
    }
    .linked{
        line-height: 19px;
        color: #ffffff;
        margin: 17px 0 0 0;
        a{
            margin-right: 16px;
            text-transform: uppercase;
            color: #ffffff;
            font-size: 12px;
            letter-spacing: 0.3px;
            &:hover{color:#78b3f4;}
        }
        .sep{
            margin-right: 12px;
        }
    }
    h2{
        color: #f4f4f4;
        margin: 0;
        padding: 29px 0 0 0;
        font-weight: 100;
        font-size: 17px;
        text-transform: uppercase;
        letter-spacing: 0.2px;
    }
}

.chain-block > div, .chain-block > span, .chain-block > form {
    @include chain;
}

.point {
    cursor: pointer;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.icon-balloon {
    position: relative;
    span {
        //расчет на то, что может быть более 2 цифр (обрезаем)
        width: 16px;
        margin: 0;
        top: 2px;
        left: 4px;
        font-size: 12px;
        font-style: normal;
        color: #fde9e9;
        position: absolute;
        @include one-overflow();
    }
}

.social li {
    display: inline;
    list-style-type: none;
}

.form {
    input[type="text"] {
        padding: 0px 0 1px 8px;
    }
}

form {
    &.search-form {
        input[type="text"] {
            padding: 0px 0 0 8px;
            font-size: 15px;
            color: #d0d0d0;
        }
    }

    input.image {
        background-color: transparent;
        border: 0;
    }
}

.btn {
    color: white;
    background: #f25857;
    border: 0;
    height: 24px;
    font-size: 13px;
    text-transform: lowercase;
    padding: 0 9px;
    @include box-shadow(rgba(0, 0, 0, 0.2) 1px 1px);
    &.under{text-transform: lowercase;}
    &.blue{background: #508bcc;}
}

.box {
    @include border-radius();
    &.dark {
        padding: 7px;
        border-top: 1px solid #9f9f9f;
        border-right: 1px solid #51504e;
        border-bottom: 1px solid #32323e;
        @include background-image(linear-gradient(#838383, #6f6f6f, #626061));
        @include box-shadow(rgba(1, 1, 1, 0.5) 0px 0px 6px 1px);
        .data {
            padding: 5px 11px;
        }
        hr {
            height: 1px;
            background: #9f9f9f;
            border-top: 1px solid #7a7a7a;
            border-bottom: 1px solid #7a7a7a;
            border-left: 0;
            border-right: 0;
            margin: 0;
        }
    }
    .inner {
		height: 263px;
        background: #6d6d6d;
        @include border-bottom-radius(0px);
        @include box-shadow(rgba(1, 1, 1, 0.5) 0px 0px 6px 1px inset);
    }
}
.opacity-box{
    background-color: rgba(255, 255, 255, 0.8);
    @include box-shadow(black 0px 2px 8px 0px);
    @include border-radius(2px);
}
.clear{
    clear: both;
}
/*___________________ header _______________*/

#bar-block {
    background: #333333;
    height: 30px;
    text-transform: uppercase;
    color: #d0d0d0;
    font-size: 11px;
    .item {
        //self
        position: relative;
        & > * {
            @include chain();
        }
        & + .item {
            margin-right: 29px;
        }
        & > span {
            margin: 9px 4px 0 4px;
        }
        &.project {

            .slide{
                display: none;
                z-index: 9;
            }
            &.active {
                .slide{display: block;}
                .icon-my-project {
                    @extend .icon-my-project-hover;
                }
            }

        }
        &:hover > span {
            color: white;
        }
        //внутренние иконки
        .icon:first-child {
            margin-top: 5px;
        }
        .icon-arrow {
            margin-top: 10px;
        }
        //левай блок с аватаром, отличается от другиъ
        &.avatar {
            width: 168px;
            font-size: 12px;
            span {
                max-width: 96px;
                @include one-overflow(ellipsis);
            }
            img {
				width: 26px;
				height: 26px;
                vertical-align: top;
                margin: 2px 0 0 0;
                border: 1px solid #646669;
                @include border-radius(3px);
            }
        }
        &.message {
            margin-left: 5px;
        }
        .slide {
			width: 245px;
			height: 320px;
            top: 30px;
            left: 6px;
            position: absolute;
            cursor: auto;
            &::after {
                content: '';
                position: absolute;
                left: 105px;
                top: -14px;
                border: 8px solid transparent;
                border-bottom: 7px solid #838383;
            }
			.project-list{
				overflow-y: auto;
				overflow-x: none;
				height: 235px;
			}
            .count {
				width: 40px;
				height: 17px;
                padding: 3px 6px 0 0;
                margin-right: 17px;
                display: inline-block;
                background: #f15956;
                color: white;
                font-size: 12px;
                text-align: right;
                @include border-radius();
                @include box-shadow(rgba(1, 1, 1, 0.8) 2px 2px 6px -2px inset);
            }
            .item {
                margin: 0;;
                min-height: 40px;
				padding: 7px 0 11px 7px;
                display: block;
                color: #3f4044;
                font-size: 12px;
                letter-spacing: -0.1px;
                border-bottom: 1px solid #d0d1d3;
                @include background-image(linear-gradient(#f5f5f7, #edeef2, #e5e9ec));
                @include box-shadow(#b6b7b9 0px -1px 0px 0px inset,
                    rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset,
                    rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset );
                &:hover {
                border-bottom: 1px solid #598a0d;
                @include background-image(linear-gradient(#a7cd22, #8ebe1c, #73af11));
                @include box-shadow(#70b212 0px -1px 0px 0px inset, //fake-bottom-border
                    rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset, //left
                    rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset); //right
                .text {color: #fffff8;}
            }
                &.active {
                    &:hover {
                        @include background-image(linear-gradient(#636363, #555555, #494949));
                        @include box-shadow(#343434 0px -1px 0px 0px inset,
                            rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset,
                            rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset);
                    }
                }
                .project-logo {
                    border: 1px solid #acaea9;
                    & + .text {
                        width: 48%;
						margin: 13px 1px 0 6px;
                    }
                }
                .text {
					width: 82%;
                    margin: 4px 0 0 0;
                    text-transform: none;
                    font-size: 13px;
                }
            }
            .status-block {
				padding-top: 3px;
                height: 38px;
                .text {
                    margin: 15px 0 0 0;
                    font-size: 11px;
                    letter-spacing: 0.5px;
                }
                .status-widget {
                    margin: 10px 0 0 10px;
                    .rank {
                        height: 25px;
                        width: 4px;
                        margin: 0 1px 0 0;
                        display: inline-block;
                        background: #bdbdbd;
                        @include box-shadow(rgba(1, 1, 1, 0.8) 2px 1px 5px -2px inset);
                        &.active {
                            background: #dd4f4e;
                        }
                    }
                }
            }
        }
    }
    .search-form {
		margin: 5px 0 0 46px;
        input:focus {
            outline: 0;
        }
        .search {
            height: 19px;
            background: #525355;
            input[type="text"] {
                border: 0;
                width: 215px;
                height: 18px;
                margin-right: -3px;
                background: #525355;
            }
            .button {
                height: 19px;
                .image {
                    margin: 2px 6px 0 6px;
                }
            }
        }
    }
    #language-list {
        margin: 11px 0 0 46px;
        font-size: 12px;
        &:hover > .item {
            display: block !important;
        }
        .item {
            margin: 0;
            &.active {
                color: #ffffff;
                display: block;
                height: 19px;
            }
            &.hide {
                display: none;
                color: #f25857;
                height: 22px;
                margin-top: 3px;
                &:hover {
                    font-weight: bold;
                }
            }
            .icon {
                margin: 4px 0 0 6px;
            }
        }
    }
}

#logo-block {
    height: 94px;
    background: #b9d1e1 url('../images/markup/logo-block-back.gif') no-repeat;
    .logo {
        float: left;
        margin: 7px 0 0 62px;
    }
    .subscribe-block {
        float: right;
        width: 420px;
        .header {
            margin: 15px 0 0 0;
            color: #508bcc;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 20px;
        }
        .text {
            font-size: 13px;
            color: #333333;
            margin-bottom: 6px;

        }
        .subscribe-form {
            input[type="text"] {
				width: 147px;
				height: 26px;
                font-size: 14px;
                border: 1px solid white;
                background: #e4e4e4;
                color: #7f8184;
                margin-right: -3px;
                @include box-shadow(black 1px 1px 6px -3px inset);
            }
        }
        .social {
            display: inline-block;
            margin-left: 22px;
            li a {
                @include border-radius(2px);
                @include box-shadow(rgba(0, 0, 0, 1) 1px 1px 6px -1px);
            }
        }
    }
}

#nav-block {
    height: 47px;
    border-bottom: 1px solid #f2f2f2;
    .menu {
        float: left;
        & > .icon {
            margin-top: 20px;
        }
        & > .item {
            padding: 18px 16px 14px 10px;
            font-size: 12px;
            text-transform: uppercase;
            color: #fcfcfc;
            cursor: pointer;
            &:first-child {
                padding-left: 0px;
            }
            &:hover {
                color: #6bb1ec;
            }
        }
    }
    .place {
        float: right;
        font-size: 18px;
        font-weight: bold;
        margin: 15px 3px 0 0;
        .region {
            margin-right: 33px;
            .name {
                color: #6cacf2;
                letter-spacing: 0.2px;
            }
            .icon {
                margin: -2px 3px 0 6px;
                cursor: pointer;
            }
        }
        .city {
            color: #ffffff;
            margin-right: 2px;
        }
    }
}

#menu-block {
	height: 80px;
    border-top: 1px solid #d2d2d2;
    .item {
        height: 77px;
        width: $contentWidth / 6 - 0.5;
        float: left;
        text-align: center;
        cursor: pointer;
        border-left: 1px solid #7a7a7a;
        border-right: 1px solid #383838;
        border-top: 1px solid #5d5d5d;
        @include background-image(linear-gradient(#636363, #555555, #494949));
        &:hover {
            border-left: 1px solid #6f9fd5;
            border-right: 1px solid #233d5a;
            border-top: 1px solid #6f95bf;
            @include background-image(linear-gradient(#70a0d5, #497eba, #508acb));
        }
        .picture {
            height: 37px;
            margin: 10px 0 8px 0;
            .icon {
                vertical-align: bottom;
            }
        }
        .name {
            color: #fffefe;
            text-transform: uppercase;
            font-size: 11px;
            @include text-shadow(0px 2px 3px rgba(10, 10, 10, 0.5));
        }
    }
}

.content{
	width:$contentWidth;
	min-height: 42px;
    margin-bottom: 9px;
	padding: 6px 0 6px 18px;
	margin-top:4px;
    overflow: hidden;
	background-color: rgba(255, 255, 255, 0.8);
	@include box-shadow(black 0px 2px 8px 0px);
	@include border-radius(2px);
}
.content.columns{
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
  padding: 0;
  padding-top: 30px;
  overflow: visible;
  color: #555;
  @include border-radius(0px);
  @include box-shadow(black 0px 0px 0px 0px);
  .side-column{
      width: 326px;
      min-height: 166px;
      float: left;
      position: relative;
      .profile-image{
          position: absolute;
          top: 21px;
          left: 16px;
          border: 1px solid #CCC;
          width: 102px;
          height: 102px;
      }
      .profile-text{
          margin: 21px 10px 0 130px;
          font-size: 14px;
      }
      .load-action{
          position: absolute;
          top: 97px;
          left: 130px;
          background: #F25857;
          color: #FFF;
          font-size: 12px;
          padding: 0 16px;
          line-height: 24px;
          @include box-shadow(black 0px 1px 2px 0px);
      }
      .profile-name{
          margin: 96px 10px 10px 16px;
          font-size: 14px;
      }
  }
  .main-column{
      margin-left: 337px;
      position: relative;
      padding-bottom: 14px;
      margin-bottom: 20px;
      .inner-column {
          float: left;
          width: 326px;
          padding-left: 12px;
          padding-top: 18px;
          h2 {
              margin: 4px 0 20px 0;
          }
      }
  }
  .row {
      margin-bottom: 12px;
  }
  .row.extra-margin{
      margin-top: 35px;
  }
  label {
      text-transform: uppercase;
      font-size: 12px;
      display: block;
      margin-bottom: 5px;
      margin-left: 2px;
  }
  textarea {
      padding: 5px 8px;
      font-size: 14px;
      background: #ECECEC;
      resize: none;
      width: 312px;
      border-radius: 3px;
      box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 #FFF;
      border: 1px solid #AAA;
      border-bottom-color: #BBB;
      color: #555;
  }
  input[type="text"]{
      padding: 5px 8px;
      font-size: 14px;
      line-height: 16px;
      background: #ECECEC;
      resize: none;
      width: 312px;
      border-radius: 3px;
      box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 #FFF;
      border: 1px solid #AAA;
      border-bottom-color: #BBB;
      color: #555;
  }
  .big-textarea{
      height: 100px;
  }
  .middle-textarea{
      height: 58px;
  }
  h2 {
      font-weight: normal;
      text-transform: uppercase;
      font-size: 18px;
      color: #508BCC;
  }
}

#general{
	background-image: url('../images/markup/background.jpg');
	background-repeat: no-repeat;
    background-position: center 0;
	height: 100%;
    background-color: #d8e7ed;
}

#chart{
    margin: 0 0px 0 -3px;
    background: #333333;
    width: 324px;
    .linked{
        overflow: hidden;
        &.top{
            margin: 18px 0 0 0;
            .tab{
                width: 33.3%;
                margin-left: -3px;
                padding: 7px 0px 4px;
                background: #d2d2d2;
                color: #333333;
                text-transform: uppercase;
                &.active{
                    background: #508bcc;
                    color:white;
                }
            }
        }
        &.middle{
            .tab{
                background: #45454b;
                color:#ffffff;
                margin-left: -4px;
                padding: 7px 16.5px 4px;
                &.active{
                    background: #ffffff;
                    color: #333333;
                }
            }
        }
        .tab{
            text-align: center;
            font-size: 12px;
            cursor:pointer;
            @include chain;
        }
    }
    .chart{
        margin-bottom: 2px;
        text-align: center;
        @include border-radius(2px);
    }
}
#scroll-up{
    display: none;
    right: 110px;
    position: fixed;
    @extend .icon;
    @extend .icon-slide-top;
}
.map-widget{
    .transparent{
        float: right;
        background: rgba(0, 0, 0, 0.59);
        margin: 2px 0 0 0;
        padding: 19px 14px;
        .header{
            text-transform: uppercase;
            font-size: 17px;
            font-weight: bold;
            &.red{color:#fd7978;}
        }
        .fieldlist{
            color:white;
            .item{
                margin-top: 11px;
                &>div{
                    @include chain();
                    font-size: 14px;
                }
                .label{width: 178px;}
                .value{
                    font-weight: bold;
                    width: 118px;
                }
            }
        }
    }
}

.breadcrumb{
    $backBread:rgba(255,255,255,0.5);
    $backActiveBread:#c7e765;
    overflow: hidden;
    width: 100%;
    margin-left: -7px;
    border-top: 7px solid transparent;
    a,span{
        float: left;
        margin: 0 .5em 0 7px;
        background: $backBread;
        padding: 1px 0 2px 6px;
        float: left;
        font-size: 11px;
        text-decoration: none;
        color: #656565;
        position: relative;
        &:before{
            content: "div"
        }
        &:after{

            content: "";
            position: absolute;
            top: 50%;
            margin-top: -1.5em;
            border-top: 1.5em solid transparent;
            border-bottom: 1.5em solid transparent;
            border-left: 1em solid $backBread;
            right: -1em;
        }
        &:first-child{
            @include border-top-left-radius(2px);
            @include border-bottom-left-radius(2px);
            &::before{
                content: normal;
            }

        }

    }
    a:hover,span{
        background: $backActiveBread;
        color:#333333;
        &:before{
            border-color: $backActiveBread $backActiveBread $backActiveBread transparent;
        }
        &:after{
            border-left: 1em solid $backActiveBread;
        }
    }
    span{
        padding-right: 6px;
    }
}
