@import "compass";

@media (max-width: 380px) {
    .display-1000{
        display: none;
    }
    .display-320{
        display: block;
    }
    .display-inline-320{
        display: inline-block;
    }
    .hide-320{
        display: none !important;
    }
    #wrap {
        min-width: 320px;
    }
    .main{
        width: 300px;
    }
    #bar-block .main>.item{
        width: 46px !important;
        margin: 0 !important;
        display: inline-block;
    }
    #bar-block .main>.item>span{
        display: none;
    }
    #bar-block .search-form{
        margin-left: 0;
        margin-right: 8px;
    }
    #bar-block .search-form .search input[type="text"] {
        width: 26px;
    }
    #bar-block #language-list{
        margin-left: 4px;
    }
    #logo-block{
        height: 200px;
        background: rgba(255, 255, 255, 0.4);
    }
    #logo-block .logo{
        margin-left: 0;
    }
    #logo-block .main>a{
        display: block;
        height: 90px;
    }
    #logo-block .subscribe-block{
        float: none;
        width: 300px;
    }
    #logo-block .subscribe-block .header{
        width: 180px;
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #logo-block .subscribe-block .text{
        width: 240px;
    }
    #logo-block .main{
        position: relative;
    }
    .subscribe-panel.chain-block {
        position: absolute;
        right: 0;
        top: 110px;
    }
    #nav-block{
        height: 60px;
        position: relative;
        border-bottom: 0;
    }
    #nav-block .menu > .item{
        //padding: 10px 46px 2px 0;
        padding: 10px 30px 2px 0;
    }
    .icon-separator-blue{
        display: none;
    }
    #nav-block .place {
        position: absolute;
        top: 60px;
        right: 20px;
    }
    #menu-block{
        border-top: 0;
    }
    #menu-block .main{
        width: 100% !important;
        padding-top: 46px;
    }
    #menu-block .item{
        width: 100% !important;
    }
    #menu-block,
    #menu-block.slim{
        height: 48px;
        border-top: 2px solid #d2d2d2;
    }
    #menu-block .item .picture,
    #menu-block.slim .item .picture{
        height: 28px;
        position: absolute;
        left: 4px;
        margin: 5px 6px 0 15px;
    }
    #menu-block .item,
    #menu-block.slim .item{
        height: 42px;
        padding-left: 81px;
        position: relative;
    }
    #menu-block .item .name,
    #menu-block.slim .item .name{
        margin-top: 15px;
        text-align: left;
    }
    .content.list-columns,
    .content.columns{
        width: 100%;
    }

    .content.columns .side-column,
    .content.list-columns .side-column{
        width: 300px;
        float: none;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
    }
    .content.columns .main-column,
    .content.list-columns .main-column{
        width: 300px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .content.columns .caption{
        margin-left: 0;
    }
    .content.columns .main-column .full-column .list .item{
        line-height: 20px;
        min-height: 30px;
    }
    .content.columns .main-column .full-column .list .item a{
        padding: 5px 0;
        display: block;
    }
    footer{
        min-width: 320px;
    }
    footer .main{
        padding: 6px 0 0 0;
        width: 300px;
        position: relative;
    }
    footer .main .col{
        max-width: 300px;
        margin-bottom: 20px;
    }
    footer .main .col.category .header{
        margin-left: 0;
    }
    footer .main .col .header .separator{
        min-width: 180px;
    }
    footer .main .col .list a .picture{
        display: none;
    }
    footer .main .col .list a{
        margin: 0 0 3px 0;
    }
    footer .main .list {
        width: 150px;
        margin-top: 8px;
    }
    footer .main .col.sitemap .header{
        display: none;
    }
    footer .main .col.sitemap {
        width: 130px;
        position: absolute;
        right: 0;
        top: 23px;
    }
    footer .main .col .list a .text{
        margin: 0;
    }
    footer .main .col.sitemap .search-form input[type="text"]{
        width: 105px;
    }
    footer .main .col.contact{
        width: auto;
    }
    footer .main .col.contact .separator{
        width: 260px;
    }
    footer .data{
        height: auto;
    }
    footer .main .col.subscribe{
        max-width: 300px;
        min-height: 90px;
        height: auto;
    }
    .dark-gray-gradient.line{
        height: 55px;
    }
    .message-page .table-header span.user-info{
        margin-left: 0;
    }
    .message-page .content.columns .main-column .full-column .user-value{
        display: block;
        padding-bottom: 5px;
        margin-top: 5px;
        margin-left: 0;
    }
    .message-page .content.columns .main-column .full-column textarea{
        width: 276px;
    }
    .message-page .content.columns div.message-textarea.system{
        width: 276px;
        background: transparent;
        border: none;
        box-shadow: none;
        height: auto;
        max-height: 210px;
        border-top: 1px dotted #508BCC;
        border-bottom: 1px dotted #508BCC;
        padding: 14px 8px;
        overflow: auto;
    }
    .message-page .content.columns .main-column .full-column label{
        margin-left: 0;
    }
    .message-page .content.columns .main-column .full-column .button-panel{
        padding-right: 2px;
    }
    .message-page .content.columns .row.extra-margin {
        margin-top: 15px;
    }
    .message-page #document_block{
        padding-top: 0;
    }
    .message-page .content.columns .main-column .full-column .user-value.autocomplete {
        display: inline-block;
        padding-bottom: 0;
        margin-top: 10px;
        margin-left: 0;
        width: 230px;
    }
    .region-page .info .info-item{
        width: 270px;
    }
    .region-page .info .info-item + div{
        margin-left: 0;
    }
    .region-page .info .header .caption{
        width: 150px;
    }
    .region-page .info .info-item.investment{
        margin-left: 0;
        width: 270px;
    }
    .region-page .info .info-item.investment .header .caption{
        width: 270px;
        margin-top: 5px;
        min-height: 50px;
    }
    .region-page .dark-gray-gradient.line.region-links-gradient{
        height: auto;
        padding: 10px 0;
    }
    .region-page .dark-gray-gradient.line.region-links-gradient .linked a{
        font-size: 11px;
        display: block;
    }
    .region-page .dark-gray-gradient.line.region-links-gradient .linked{
        width: 310px;
        margin-left: 10px;
        margin-top: 0;
    }
    .region-page .dark-gray-gradient.line.region-links-gradient .linked .sep{
        display: none;
    }
    .region-page .map-widget .abs {
        width: 100%;
        right: auto;
        left: 0;
    }
    .region-page .map-widget .transparent {
        float: none;
        width: 300px;
        margin: 0 auto;
        padding: 5px 14px;
    }
    .region-page .map-widget .transparent .fieldlist .item {
        margin-top: 6px;
    }
    .region-page .map-widget .transparent .fieldlist .item > div{
        font-size: 13px;
    }
    .region-page .map-widget .leaflet-container{
        height: 400px !important;
    }
    .region-page .economic > div{
        width: 270px;
    }
    .region-page .economic .item .header{
        font-size: 14px;
    }
    .region-page .economic .item {
        height: auto;
        margin-bottom: 25px;
    }
    .region-page .line h2{
        text-transform: uppercase;
        font-size: 16px;
    }
    .region-page .double-row-320 h2{
        padding-top: 19px !important;
    }
    .region-page .geo{
        padding-top: 15px;
        padding-bottom: 5px;
    }
    .region-page .geo .cities .params {
        width: 270px;
    }
    .region-page .geo .cities .params .item .header{
        font-size: 13px;
        letter-spacing: 0;
        margin-bottom: 2px;
    }
    .region-page .geo .cities .params .item {
        height: 70px;
    }
    .news-page .news-item .data .image{
        display: block;
        float: none;
        margin-bottom: 10px;
    }
    #base{
        clear: both;
    }

    .main-page{
        .main.full-main-320{
            width: 320px;
        }
        .promo #slider{
            max-width: 320px !important;
        }
        .bx-wrapper{
            height: 250px;
            margin-bottom: 0;
            .bx-viewport{
                height: 250px !important;
                background: rgba(0, 0, 0, 0.5) !important;
            }
            img{
                max-width: 100%;
                display: inline;
                vertical-align: middle;
            }
            .helper {
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
            li{
                height: 250px;
            }
        }
        .promo #slider .bx-controls-direction a {
            top: 190px;
        }
        .promo{
            height: auto;
        }
        #chart-wrap{
            float: none !important;
            width: 320px !important;
        }
        #chart{
            width: 320px;
        }
        .record .category{
            padding: 5px 0 5px 1px;
        }
        .content{
            padding: 6px 0 6px 8px;
        }
        .content.main .connected.news-analytic {
            width: 284px;
        }
        .record {
            width: 284px;
            margin: 0;
        }
        .calendar-widget table{
            width: 286px;
        }
        .content.main .connected.event{
            float: none;
        }
        .record.big .image{
            height: auto;
        }
        .content.main .right-column {
            width: 290px;
        }
    }
    .subscribe-form.form{
        position: absolute;
        top: -30px;
        width: 280px;
        right: 0;
    }
}
@media (min-width: 381px) and (max-width: 800px){
    .display-1000{
        display: none;
    }
    .display-770{
        display: block;
    }

    #bar-block .item.avatar{
        width: 125px;
    }
    #bar-block .item.avatar span{
        max-width: 60px;
    }
    #bar-block .item + .item {
        margin-right: 15px;
    }
    #bar-block .search-form {
        margin: 5px 0 0 36px;
    }
    #bar-block .search-form .search input[type="text"]{
        width: 75px;
    }
    #bar-block #language-list{
        margin: 11px 0 0 16px;
    }
    #wrap {
        min-width: 770px;
    }
    .main{
        width: 750px;
    }
    #logo-block .subscribe-block{
        margin-right: 10px;
    }
    #menu-block .item .name{
        font-size: 10px;
    }
    #menu-block.slim .item .picture{
        margin: 5px 0 0 5px;
    }
    #menu-block.slim .item.i1 {
        width: 113px;
    }
    #menu-block.slim .item.i2 {
        width: 114px;
    }
    #menu-block.slim .item.i3 {
        width: 126px;
    }
    #menu-block.slim .item.i4 {
        width: 160px;
    }
    #menu-block.slim .item.i5 {
        width: 115px;
    }
    #menu-block.slim .item.i5 .name {
        width: 70px;
        margin-top: 15px;
    }
    #menu-block.slim .item.i6 {
        width: 122px;
    }
    #menu-block .item {
        width: 118px;
    }
    #menu-block .item.i5 {
        width: 160px;
    }
    .content{
        width: 750px;
    }
    .project-filter-page{
        .content.list-columns .banner-block {
            float: none;
            width: 750px;
            overflow: hidden;
            z-index: 1;
        }
        .content.list-columns .banner-block .side-adv-block{
            display: none;
        }
        .content.list-columns .banner-block .side-adv-block.responsive-770{
            display: block;
            float: right;
            &:first-child{
                float: left;
            }
        }
        .content.list-columns .main-column {
            margin-left: 0;
        }
        .content.list-columns .main-column .invest-item .data-block{
            width: 350px;
        }

        .content form.filter-form .field.drop .drop-label{
            text-align: left;
            width: auto;
        }
        .content form.filter-form .margin-9 {
            margin-right: 67px;
        }
        .crud.drop .selected{
            display: block;
        }
        .content form.filter-form .row .swipe {
            width: 82px;
        }
        .content form.filter-form .row .element{
            width: 350px;
        }
    }
    footer .main .col .list a .picture{
        display: none;
    }
    footer .main .col .header .separator{
        min-width: 40px;
    }
    footer .main .col.sitemap .search-form input[type="text"]{
        width: 80px;
    }
    footer .main .col.sitemap hr{
        width: 101px;
    }
    footer .main .col.sitemap{
        width: 120px;
    }
    footer .main .col.contact {
        width: 150px;
    }
    footer{
        min-width: 770px;
    }
    footer .main {
        width: 770px;
    }
    .content .main-column{
        margin-left: 0 !important;
    }
    .user-index-page{
        .content.list-columns .side-column {
            width: 750px;
            z-index: 1;
            float: none;
            overflow: hidden;
        }
        .side-column .opacity-box{
            width: 365px;
            float: left;
        }
        /*.content.list-columns .main-column{
            margin-left: 0;
        }*/
        .bossy{
            width: 365px;
            float: right;
        }
        .bossy .inner{
            padding-bottom: 0 !important;
        }
        .b-quotation{
            width: 330px;
        }
        .b-quotation-list-item img{
            width: 328px;
        }
        #chart {
            margin-top: 0;
            float: right;
            width: 365px;
        }
        .info-column{
            height: auto !important;
            margin-bottom: 0 !important;
            padding: 0 !important;
            overflow: hidden;
        }
        .b-quotation-tabs .level-1-item{
            width: 109px;
        }
        .content.list-columns .main-column .filter{
            width: 365px;
            margin-left: 385px;
            margin-top: 10px;
        }
    }
    .lk-list-page{
        .content.list-columns .main-column .filter{
            height: 130px;
            margin-left: 340px;
        }
        /*.content.list-columns .main-column{
            margin-left: 0;
        }*/
        .content.columns .main-column .full-column{
            margin-top: 10px;
        }

        .content.columns .main-column .right-column{
            min-height: 280px;
        }
    }
    .message-page{
        .content.columns .side-column{
            width: 750px;
            margin-bottom: 15px;
            z-index: 1;
            float: none;
            overflow: hidden;
        }
        .content.columns .side-column .side-menu-list .side-menu-item {
            width: 280px;
        }
        .content.columns .side-column .side-menu-list .right-menu-item{
            position: absolute;
            right: 50px;
            top: 50px;
        }
        /*.content.columns .main-column{
            margin-left: 0;
        }*/
        .content.columns .main-column .full-column textarea{
            width: 100%;
        }
    }
    .user-profile-page{
        .content.columns .side-column{
            float: none;
            width: auto;
        }
        .content.columns .main-column{
           /* margin-left: 0;*/
            margin-top: 15px;
        }
        .content.columns .main-column .inner-column{
            width: 365px;
        }
    }
    .region-page{
        .info .info-item{
            width: auto !important;
            display: block;
            margin-left: 0 !important;
            margin-bottom: 30px;
        }
        .info .header .caption{
            margin: 5px 0 0 0;
            min-height: 0;
            width: auto !important;
        }
        .info .info-item.investment .header a{
            display: block;
        }
        .line .linked a{
            font-size: 10px;
        }
        .map-widget .abs{
            right: 15px;
        }
        .economic > div{
            width: 355px;
        }
        .economic .item .header{
            font-size: 15px;
        }
        .geo .cities .city-info{
            width: 210px;
        }
        .geo .cities .params{
            width: 230px;
        }
        .geo .cities .params .item .header{
            font-size: 11px;
        }
    }
    .investor-item .data .contact-data{
        width: 270px;
    }
    .investor-item .data .more-data{
        width: 260px;
    }
    .iniciator-page{
        .content.list-columns .side-column {
            width: 365px;
            z-index: 1;
        }
        .content.list-columns .main-column .filter{
            margin-left: 390px;
        }
        .content.columns .main-column .right-column{
            min-height: 280px;
        }
        .content.list-columns .main-column .invest-item .data-block {
            width: 350px;
        }
    }
    .investor-page{
        .content form.filter-form .row .element{
            width: 350px;
        }
    }
    .project-page.map{
        .content.columns .main-column{
            width: 400px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
        .content.columns .main-column .inner-column{
            width: 382px;
        }
        .content.columns .main-column .inner-column.two{
            padding-top: 0;
        }
        .news-block{
            padding: 16px;
            color: #333;
            margin-top: 15px;
            .caption{
                margin-left: 0px;
                font-size: 15px;
                text-transform: initial;
                letter-spacing: 0.2px;
                &.notice{
                    color: #656a6e;
                    text-transform: uppercase;
                    margin: 6px 0 0 -2px;
                    font-size: 14px;
                    letter-spacing: 0.8px;
                }
            }
            .news-info{
                .text{
                    max-width: 512px;
                    width: auto;
                    margin: 4px 0 0 11px;
                }
                .caption{
                    margin-bottom: 10px;
                }
                div.value{
                    margin: 1px 0 0 -2px;
                    font-size: 13px;
                }
                .logo{
                    position: relative;
                    width: 100px;
                    height: 100px;
                    margin: 9px 0 0 0px;
                    border: 1px solid #d1d1d1;
                    img{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .info .inner-column#ajax-content{
            width: 460px;
        }
        table.all-params tr td.value{
            padding-left: 20px;
        }
    }
    .library-page,
    .analitycs-page{
        .content.list-columns .side-column{
            width: auto;
            float: none;
            overflow: hidden;
            margin-bottom: 10px;
        }
    }
    .main-page{
        .promo #slider{
            max-width: 416px !important;
        }
        .bx-wrapper{
            height: 416px;
            .bx-viewport{
                height: 416px !important;
                background: rgba(0, 0, 0, 0.5) !important;
            }
            img{
                max-width: 100%;
                display: inline;
                vertical-align: middle;
            }
            .helper {
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
            li{
                height: 416px;
            }
        }
        .main.big img{
            width: 100%;
        }
        .record{
            width: 350px;
        }
        .record.news {
            margin-bottom: 20px;
        }
        .record.news.big {
            width: 720px;
        }
        .record.calendar-block{
            width: 304px;
        }
        .record.event {
            width: 316px;
        }
        .banner.pull-right{
            margin-right: 15px;
        }
        .bottom-news-block{
            width: 750px;
        }
        .content.main .connected.event{
            margin-right: 15px;
        }
        .content.main .connected.news-analytic{
            width: 380px;
        }
    }
}