$sprite: '../images/markup/sprite.png';//стандартный цвет ссылок

.icon {
	background: url($sprite) no-repeat transparent;
	@include chain();
}

.icon-analitik {
    width: 31px;
    height: 31px;
    background-position: -5px -5px;
}

.icon-analitik-min {
    width: 15px;
    height: 15px;
    background-position: -46px -5px;
}

.icon-arrow {
    width: 8px;
    height: 10px;
    background-position: -71px -5px;
}

.icon-balloon {
    width: 22px;
    height: 21px;
    background-position: -89px -5px;
}

.icon-button-down {
    width: 27px;
    height: 26px;
    background-position: -121px -5px;
}

.icon-down-small {
    width: 19px;
    height: 20px;
    background-position: -158px -5px;
}

.icon-facebook {
    width: 26px;
    height: 26px;
    background-position: -187px -5px;
}

.icon-facebook-gray {
    width: 30px;
    height: 30px;
    background-position: -46px -41px;
}

.icon-favorites {
    width: 19px;
    height: 19px;
    background-position: -223px -5px;
}

.icon-investition {
    width: 34px;
    height: 37px;
    background-position: -86px -41px;
}

.icon-investition-min {
    width: 16px;
    height: 19px;
    background-position: -223px -34px;
}

.icon-law {
    width: 38px;
    height: 36px;
    background-position: -130px -63px;
}

.icon-law-min {
    width: 18px;
    height: 18px;
    background-position: -5px -63px;
}

.icon-library {
    width: 32px;
    height: 30px;
    background-position: -178px -63px;
}

.icon-library-min {
    width: 15px;
    height: 14px;
    background-position: -220px -63px;
}

.icon-menu-up {
    width: 30px;
    height: 17px;
    background-position: -33px -87px;
}

.icon-my-project {
    width: 19px;
    height: 18px;
    background-position: -220px -87px;
}

.icon-my-project-hover {
    width: 19px;
    height: 18px;
    background-position: -5px -115px;
}

.icon-odnoklassniki {
    width: 26px;
    height: 26px;
    background-position: -34px -115px;
}

.icon-project {
    width: 49px;
    height: 34px;
    background-position: -70px -115px;
}

.icon-project-min {
    width: 23px;
    height: 16px;
    background-position: -129px -115px;
}

.icon-region {
    width: 66px;
    height: 37px;
    background-position: -162px -115px;
}

.icon-region-coldday {
    width: 34px;
    height: 34px;
    background-position: -5px -162px;
}

.icon-region-min {
    width: 30px;
    height: 17px;
    background-position: -49px -162px;
}

.icon-region-nature {
    width: 34px;
    height: 34px;
    background-position: -89px -162px;
}

.icon-region-rain {
    width: 34px;
    height: 34px;
    background-position: -133px -162px;
}

.icon-region-sunday {
    width: 34px;
    height: 34px;
    background-position: -177px -162px;
}

.icon-region-temperature-day {
    width: 34px;
    height: 34px;
    background-position: -5px -206px;
}

.icon-rss-gray {
    width: 30px;
    height: 30px;
    background-position: -221px -162px;
}

.icon-search {
    width: 17px;
    height: 18px;
    background-position: -49px -202px;
}

.icon-search-gray {
    width: 16px;
    height: 16px;
    background-position: -221px -202px;
}

.icon-separator-blue {
    width: 6px;
    height: 6px;
    background-position: -245px -63px;
}

.icon-slide-top {
    width: 39px;
    height: 38px;
    background-position: -76px -206px;
}

.icon-slide-up {
    width: 39px;
    height: 38px;
    background-position: -252px -5px;
}

.icon-slider-check {
    width: 17px;
    height: 17px;
    background-position: -261px -53px;
}

.icon-slider-left {
    width: 40px;
    height: 40px;
    background-position: -249px -80px;
}

.icon-slider-left-no {
    width: 40px;
    height: 40px;
    background-position: -247px -202px;
}

.icon-slider-right {
    width: 40px;
    height: 40px;
    background-position: -5px -252px;
}

.icon-slider-uncheck {
    width: 17px;
    height: 17px;
    background-position: -238px -130px;
}

.icon-stick-down {
    width: 9px;
    height: 5px;
    background-position: -288px -53px;
}

.icon-tumblr {
    width: 26px;
    height: 26px;
    background-position: -265px -130px;
}

.icon-twitter {
    width: 26px;
    height: 26px;
    background-position: -261px -166px;
}

.icon-twitter-gray {
    width: 30px;
    height: 30px;
    background-position: -125px -252px;
}

.icon-vk {
    width: 26px;
    height: 26px;
    background-position: -165px -252px;
}

.icon-vk-gray {
    width: 30px;
    height: 30px;
    background-position: -201px -252px;
}

.icon-youtube-gray {
    width: 30px;
    height: 30px;
    background-position: -241px -252px;
}
