
.content{
    &.columns {
        .main-column{
            padding-top: 12px;
            margin-left: 0;
            padding-left: 30px;
        }
    }
}
.message-page{
    i::before{
        content: normal;
    }
    .content{
        &.columns {
            .main-column{
                margin-left: 337px;
                .full-column{
                    padding: 10px 33px;
                    textarea{
                        width: 580px;
                    }
                    .row::after{
                        content:normal;
                    }
                }
            }
        }
    }
}
#history{
    table.border{
        thead{
            th{text-align: center;}
        }
    }
}
.delete-media-button{
    margin-left: 12px;
}