@import "components";
@import "sprite";
@import "sprite_crud";

/*http://draeton.github.io/stitches/*/
/* Главная страница */
.main-page {
    #map-block {
        height: 293px;
    }
    #filter-map{
        width: 1000px !important;
        margin: 0 auto !important;
        position: relative !important;
        right: 5px;
    }
    .promo {
        height: 421px;
        border-bottom: 1px solid #d4d4d4;
        background: url('../images/markup/slider-background.png') no-repeat center;
        #slider {
            min-width: 300px;
            min-height: 1px;
            max-width: 667px;
            .bx-viewport {
                border: 0;
                left: 0;
                background: none;
                @include box-shadow(none);
            }
            .info-slide {
                min-height: 349px;
                .citizen {
                    color: #26396e;
                    font-size: 73px;
                    font-weight: bold;
                    margin: 70px auto 0;
                    text-align: center;
                }
                .notice {
                    color: #26396e;
                    text-transform: uppercase;
                    margin: 24px 0 0 0;
                    padding: 19px 81px 13px;
                    background: rgba(255, 255, 255, 0.74);
                    font-weight: bold;
                    line-height: 29px;
                    font-size: 21px;
                    text-align: center;
                }

            }
            .bx-controls-direction{
                a{
                    top: 341px;
                    @extend .icon;
                }
                .bx-prev{@extend .icon-slider-left;}
                .bx-next{@extend .icon-slider-right;}
            }//кнопки с текщим слайдом
            .bx-pager{
                background: rgba(0, 0, 0, 0.34);
                bottom: 0px;
                padding: 5px 18px 5px 0;
                text-align: right;
                .bx-pager-item {
                    text-align: center;
                    a{
                        @extend .icon;
                        @extend .icon-slider-uncheck;
                        &.active{@extend .icon-slider-check;}
                    }
                }
            }
        }
    }
    .content.main{
        position: relative;

        .connected{
            &.news-analytic{
                width: 640px;
                float: left;
            }
            &.news-analytic>div{
                @include chain;
            }
            &.event{
                float: right;
                position: relative;
                .record{margin-right: 0px;}
            }
        }
        .banner{

        }
        .calendar-block{
            .calendar{
                margin: -4px 0 15px 0;
            }
        }
        .left-column,.right-column{@include chain();}
        .right-column{width: 650px;}
        .button-panel{
            margin-top: 22px;
            height: 26px;
            text-align: right;
            .more + .more{
                margin-left: 7px;
            }
        }
        .event-panel{
            margin-right: 7px;
            margin-bottom: 7px;
        }
        .analytics-panel{
            text-align: center;
            width: 100%;
        }
    }
}

.record{
    width: 304px;
    margin: 0 20px 0 -3px;
    &:last-child{margin-right: 0px}
    &.big{
        width: 639px;
        .image{
            width: 100%;
            height: 290px;
        }
        .text-block{
            .caption{padding-bottom: 12px;}
        }
    }
    &.news{margin-bottom: 31px;}
    &.event{
        width: 316px;
        .image{
            width: 100%;
            height: 112px;
        }
        .text-block{
            .caption{padding: 4px 0 4px 0;}
            .notice{padding:0 0 9px 0;}
        }
    }
    .category{
        font-size: 18px;
        text-transform: uppercase;
        padding: 12px 0 12px 1px;
        letter-spacing: 0.3px;
    }
    .image{
        width: 100%;
        height: 145px;
    }
    .text-block{
        position: relative;
        &:hover{
            background: #474747;
            .caption{
                color: #ffffff;
            }
            .date{
                background: #b5b5b5;
                color: #333333;
            }
        }
        .date{
            width: 89px;
            height: 30px;
            margin: -4px 0 0 0;
            text-align: center;
            padding: 6px 0 0 0;
            font-weight: bold;
            font-size: 18px;
            background: #333333;
            color: #e4e4e4;
        }
        .caption{
            color: #264392;
            display: block;
            padding: 7px 11px 6px 12px;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 16px;
        }
        .notice{
            color:#6c6c6c;
            font-size: 12px;
            padding: 0px 11px 9px 12px;
        }
        .category{
            position: absolute;
            color: #f25857;
            top: 9px;
            right: 29px;
            font-size: 15px;
            padding: 0;
            font-weight: bold;
        }
    }
    hr{
        border: 0;
        height: 1px;
        background: #6c6c6c;
    }
}
#map-up{
    top: 20px;
    right: -63px;
    cursor: pointer;
    width: 39px;
    height: 38px;
}
.icon-slide-down{
    background: url("../images/markup/slide-down.png") no-repeat transparent;
}
/*_________________________________Страница регионы___________________________*/
.region-page{
    .fullmargin{
        padding: 16px;
    }
  .info{
      padding-top: 16px;
      padding-bottom: 12px;
      .info-item{
          width: 305px;
          &+div{
              margin-left: 10px;
          }
          &.investment{
              margin: 0 0 0 27px;
              width: 320px;
              .header{
                  .notice{text-transform: uppercase;}
                  .caption{
                      margin-top: 21px;
                      letter-spacing: 0.3px;
                      width: 320px;
                  }
                  a{
                      color: #656565;
                      font-size: 15px;
                  }
              }

          }
      }
      .header{
          margin-bottom: 10px;
          min-height: 100px;
          img{
              /*width: 100px;*/
              /*height: 100px;*/
              margin-right: 14px;
              float: left;
              border: 1px solid #cdcdcd;
          }
          .caption{
              margin: 39px 0 0 0;
              letter-spacing: 0.7px;
              line-height: 23px;
              font-weight: bold;
              font-size: 18px;
              color: #2f4e91;
              display: inline-block;
              vertical-align: text-bottom;
              width: 180px;
              min-height: 60px;
          }
          .notice{
              color: #656565;
              font-size: 15px;
              line-height: 18px;
              & + .caption{
                  margin-top: 4px;
              }
          }
      }
      .text{
          font-size: 13px;
          color: #333333;
          line-height: 16px;
      }
  }
  .economic{
      padding-top: 24px;
      padding-bottom: 1px;
      &>div{
          width: $contentWidth/2-15;
          @include chain();
      }
      .item{
          height: 113px;
          .header{
              text-transform: uppercase;
              font-size: 17px;
              margin-bottom: 4px;
          }
          .text{
              color: #508bcc;
              font-size: 25px;
              margin-left: -2px;
          }
          .notice{
              color: #6e6e6f;
              font-size: 15px;
          }
      }

  }
    .geo{
        padding-top: 30px;
        .category{
            text-transform: uppercase;
            color: #508bcc;
            font-size: 20px;
            margin-bottom: 15px;
        }
        .cities{
            &>div{@include chain();}
            .city-info{
                margin-left: 1px;
                width: 311px;
                .map img{
                    width: 164px;
                    height: 160px;
                    margin: 2px 0px 0 0;
                    border: 1px solid #999a9b;
                }
                .name{
                    font-weight: bold;
                    font-size: 19px;
                    margin: 11px 0 4px 0;
                }
                .count{
                    color: #508bcc;
                    font-size: 16px;
                    letter-spacing: -0.3px;
                }
            }
            .params{
                width: 328px;
                .item{
                    height: 77px;
                    .header{
                        text-transform: uppercase;
                        font-size: 15px;
                        letter-spacing: 0.2px;
                    }
                    .icon{margin: 4px 0 0 0;}
                    .citizen{
                        color: #508bcc;
                        font-size: 25px;
                        margin: 6px 0 0 10px;
                        display: inline-block;
                    }
                }
            }

        }
    }
    .news-container{
        margin: 10px auto;
    }
    .infographic{
        padding: 10px;
        text-align: center;
        img{
            max-width: 100%;
        }
    }
}
.project-page {
    /*______________Карта проекта __________*/
    &.map{
        .content.columns{
            overflow: hidden;
            padding-top: 1px;
            .main-column{
                width: 664px;
                min-height: 166px;
                float: left;
                position: relative;
                margin-left: 0px;
                .inner-column{
                    width: 321px;;
                    padding-left: 17px;
                    padding-top: 15px;
                    &.two{
                        .notice{margin-top: 8px;}
                        .name{margin-top: 4px;}
                    }
                }
                table.params{
                    width: 100%;
                    margin: 8px 0 0 0;
                    tr{
                        height: 27px;
                        td{
                            padding: 0 0 0 8px;
                            font-size: 13px;
                            &.value{
                                font-size: 17px;
                                font-weight: bold;
                            }
                        }
                    }
                }
                .logo{
                    position: relative;
                    width: 100px;
                    height: 100px;
                    margin: 9px 0 0 0px;
                    border: 1px solid #d1d1d1;
                    img{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                }
                .text{
                    width: 186px;
                    margin: 4px 0 0 11px;
                }
                .name{
                    font-weight: bold;
                    font-size: 19px;
                    color: #2f4d93;
                }
                .caption{
                    margin-left: 0px;
                    font-size: 15px;
                    text-transform: initial;
                    letter-spacing: 0.2px;
                    &.notice{
                        color: #656a6e;
                        text-transform: uppercase;
                        margin: 6px 0 0 -2px;
                        font-size: 14px;
                        letter-spacing: 0.8px;
                    }
                }
                div.value{
                    margin: 1px 0 0 -2px;
                    font-size: 13px;
                }
                hr{
                    margin: 7px 14px 16px;
                    background: black;
                    height: 1px;
                    border: 0;
                }
                .news-info{
                    .text{
                        max-width: 512px;
                        width: auto;
                    }
                    .caption{margin-bottom: 10px;}
                }
            }
            .side-column{
                &.box{
                    &.bossy{
                        .inner{
                            max-height: inherit;
                        }
                    }
                    width: 326px;
                    margin-left: 10px;
                    position: relative;
                }
            }
        }
        .info{
            margin-top: 16px;
            padding: 16px;
            margin-bottom: 30px;
            .inner-column{
                @include chain();
                &#ajax-content{
                    width: 710px;
                    margin: 9px 0 0 15px;
                    font-size: 13px;
                    line-height: 16px;
                }
            }
        }

        table.all-params{
            width: 100%;
            margin: 8px 0 0 0;
            border-collapse: collapse;
            tr{
                height: 27px;
                line-height: 1.5em;
                &.header td{
                    border: 1px solid #b8cad3;
                    font-family: Tahoma;
                    font-size: 12px;
                    padding: 10px !important;
                    text-align: left;
                    background-color: #c9dbe4;
                    color: #264392;
                    font-weight: bold;
                }
                td{
                    border: 1px solid #c9dbe4;
                    font-family: Tahoma;
                    font-size: 12px;
                    padding: 5px 10px;
                    &:first-child{
                        max-width: 230px;
                    }
                }
            }
        }
    }
    .attached{
        &.documents{
            a{
                color: #4788d8;
                display: block;
                font-size: 16px;
            }
        }
    }
}
.blue-menu{
    width: 237px;
    &>*{
        display: block;
    }
    .item{
        background: #6ca6e6;
        text-transform: uppercase;
        color: white;
        font-size: 12px;
        padding: 11px 0 6px 11px;
        margin-bottom: 4px;
        @include border-radius(1px);
        @include box-shadow(rgba(1, 1, 1, 0.3) 0px 1px 2px 1px);
        &:hover{
            text-decoration: none;
        }
        &.active{
            color:black;
            background: white;
        }
    }
}
.bossy{
    padding-bottom: 44px !important;
    .inner{
        margin-top: 7px;
        height: inherit;
        .item {
            margin: 0;;
            min-height: 36px;
            display: block;
            font-size: 12px;
            border-bottom: 1px solid #d0d1d3;
            padding: 12px 0 10px 16px;
            text-transform: uppercase;
            color: black;
            letter-spacing: 0.5px;
            @include background-image(linear-gradient(#f5f5f7, #edeef2, #e5e9ec));
            @include box-shadow(#b6b7b9 0px -1px 0px 0px inset,
                rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset,
                rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset );
            &:hover {
                border-bottom: 1px solid #598a0d;
                @include background-image(linear-gradient(#a7cd22, #8ebe1c, #73af11));
                @include box-shadow(rgba(1, 1, 1, 0.5) 0px -1px 0px 0px inset, //fake-bottom-border
                    rgba(1, 1, 1, 0.5) 6px 0px 6px -4px inset, //left
                    rgba(1, 1, 1, 0.5) -6px 0px 6px -4px inset); //right
                text-decoration: none;
                color:white;
            }
            &.active{
                @include background-image(linear-gradient(#ff7d7d, #f96b6a, #f45955));
                color:white;
                &:hover{
                    border-bottom: 1px solid #be4846;
                }

            }
        }
    }

}
#general{
    &.profile{
        /*____________ личный кабинет проекты*/
        &.project{

        }
        label{
            display: inline-block;
        }
    }
    &.banner{
        .content.columns{
            .side-column{
                width: 360px;
                .profile-image{
                    width: 319px;
                    height: 168px;
                    img{
                        width: 319px;
                        height: 168px;
                    }

                }

                .load-action{
                    top: 197px;
                    left: 200px;
                }
            }
            .base-block{
                min-height: 233px;
            }
            .main-column{
                margin-left: 381px;
            }
        }
    }
}

.root-page{
    .ui-widget-content {
        background: transparent;
        font-size: 13px;
    }
}
.message-page{
    min-height: 353px;
    #file-list{
        a{
            margin: 0 0 0 11px;
            font-size: 11px;
            color: gray;
            display: block;
        }
    }
    #document_block{
        clear: both;
        padding-top: 13px;
        &>span{
            display: block !important;
        }
        a.delete-file{
            margin: 0 0 0 11px;
            font-size: 11px;
            color: gray;
        }
    }
    .table-header{
        text-transform: uppercase;
        &.deleted{
            span{
                &.user-info{
                    width: 30%;
                    margin-left: 0px;
                }
            }
        }
        span{
            @include chain();
            font-size: 13px;
            &.user-info{
                width: 35%;
                margin-left: 30px;
            }
        }
    }
    .row{
        &.list.message{
            padding: 2px 0px !important;
            table{
                width:100%;
                &.deleted{
                    .user-info{
                        width: 30%;
                    }
                }
                .new{background: #F7F1B2;}
                .user-info{
                    width: 40%;
                    border-right: 1px solid #bababa;
                }
            }
        }
        .delete-message{
            float: right;
            margin-bottom: 10px;
        }
    }
}
.investor-item {
    padding: 12px 18px;
    height: 220px;
    margin-bottom: 10px;
    .title{
        font-size: 15px;
    }
    .data{
        margin: 0;
        padding: 0;
        .main-data{
            float: left;
            width: 110px;
            .image{
                width: 100px;
                height: 100px;
                border: 1px solid #AAA;
                margin-top: 12px;
                border-radius: 2px;
            }
            .name {
                font-size: 13px;
                margin-top: 8px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 110px;
                color: #333;
            }
            .type {
                text-transform: uppercase;
                font-size: 14px;
                margin-top: 7px;
            }
        }
        .contact-data {
            float: left;
            width: 360px;
            margin-left: 6px;
        }
        .more-data {
            float: left;
            width: 380px;
            margin-left: 50px;
        }
        .label{
            text-transform: uppercase;
            font-size: 12px;
            margin-top: 12px;
        }
        .text{
            height: 85px;
            font-size: 14px;
            margin-top: 5px;
            line-height: 17px;
            overflow: hidden;
        }

    }
}
.news-page,
.analitycs-page{
    .news-item {
        padding: 12px 28px;
        margin-bottom: 10px;
        overflow: hidden;
        line-height: 22px;
        .data {
            margin: 0;
            padding: 0;
            .date{
                font-size: 15px;
                margin-bottom: 10px;
                color: #555;
                font-weight: normal;
            }
            .image{
                float: left;
                border: 1px solid #AAA;
                margin: 0 10px 0 0;
                border-radius: 2px;
            }
            .image-block{
                display: block;
                border: 1px solid #AAA;
                margin: 0 10px 0 0;
                border-radius: 2px;
                &.center{
                    margin: 0 auto;
                }
                &.float-left{
                    float: left;
                }
            }
            .image-notice{
                color: #808080;
                text-align: center;
                margin-bottom: 10px;
            }
            .name{
                color: #364F8C;
                font-weight: bold;
                font-size: 21px;
                margin: 0;
                line-height: 24px;
            }
            .announce{
                margin: 10px 0;
            }
            .full-text{
                margin-top: 10px;
            }
            .tags{
                margin-top: 10px;
            }
        }
    }
}
.search-page{
    .content.list-columns .main-column{
        margin-left: 0;
    }
}
.search-page,
.user-index-page{
    .side-column{
        .opacity-box{
            overflow: hidden;
        }
    }
    .full-column{
        padding-top: 0 !important;
    }
    .info-column{
        height: 460px;
        margin-bottom: 20px;
        padding: 0;
    }
    #chart{
        width: 322px;
        margin-top: 10px;
        margin-left: 0;
        overflow: hidden;
        border-radius: 4px;
    }
    .base-block{
        margin-bottom: 10px;
    }
    .user-action-box{
        width: 320px;
        margin-bottom: 10px;
        position: relative;
    }
    .bossy{
        padding-bottom: 7px !important;
        .inner{
            margin: 0;
            padding-bottom: 0;
            height: inherit;
            box-shadow: inset 0px 0px 6px 1px rgba(1, 1, 1, 0.5);
            border-bottom: 1px solid #949494;
            h1{
                color: #FFF;
                text-transform: uppercase;
                font-size: 17px;
                line-height: 40px;
                margin: 0;
                text-align: center;
                padding-top: 5px;
            }
            .item{
                font-size: 11px;
            }
        }
    }
    .feed-item{
        position: relative;
        color: #656565;
        padding: 20px 18px 14px 18px;
        margin-bottom: 14px;
        border-radius: 4px;
        .top-stick {
            position: absolute;
            right: -7px;
            top: 14px;
            font-size: 15px;
            font-weight: bold;
            background: url(/images/markup/green-stick.png);
            width: 133px;
            height: 41px;
            line-height: 28px;
            text-align: center;
            color: #FFF;
            text-shadow: 1px 1px 1px #000;
        }
        h2{
            color: #364F8C;
            font-weight: bold;
            font-size: 18px;
            margin: 0;
            margin-top: 10px;
            text-transform: none;
        }
        hr{
            border: 0;
            border-bottom: 1px solid #000;
            margin: 7px 0;
        }
        .feed-info{
            text-transform: uppercase;
            font-size: 11px;
            margin-top: 14px;
        }
        .feed-data{
            color: #000;
            font-size: 14px;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        .date{
            font-size: 15px;
        }
        .comment-link {
            text-transform: uppercase;
            font-size: 11px;
        }
    }
}
.user-index-page{
    .project-filter{
        margin-top: 20px;
        &.crud.drop .elements .drop-down{
            max-height: 248px;
        }
        &.crud.drop.has-button .elements .drop-down .rel{
            max-height: 159px;
            height: auto;
        }
        label.drop-label{
            margin-left: 17px;
            font-size: 17px;
            display: inline-block;
        }
    }
}
.project-filter-page {
    .map-widget {
        .main.ajax-balloon {
            left: 13px;
            top: 81px;
            overflow: auto;
            height: 500px;
        }
    }
}
.library-page{
    .content.columns .main-column .full-column{
        padding: 25px 12px 25px 12px;
    }
}

#general.registration{
    &>.content{
        width: 280px;
        padding: 0;
        .header{
            color: #508bcc;
            text-align: center;
            background: rgba(255,255,255,0.7);
            padding: 10px 0;
            margin-bottom: 14px;
        }
        .block{
            padding: 4px 19px;
            .drop{
                margin-left: 0;
                .selected{ 
                    margin-left: 0;
                    .option label{padding-left: 0;}
                }
            }
        }
    }
}

.display-1000{
    display: block;
}

.display-770{
    display: none;
}

.display-320{
    display: none;
}

.chart-wrapper{
    position: relative;
    padding-right: 18px;
}

#unique-url-block{
    margin: 0 0 7px 7px;
}

#banner-form{
    #get-recommend{margin-bottom: 10px;}
    .button-panel{
        .btn{margin-right: 10px}
    }
}

.cities{
    .bx-wrapper{
        .bx-viewport{
            box-shadow:none;
            border: none;
            background: none;
        }
        .bx-prev{
            left: 0px;
        }
        .bx-next{right: 24px;}
    }
}
@import "responsive770";