.row .articles-item_half_mr
{
    vertical-align: text-top;
}
.banner {
    border: none;
}
.calendar-widget {
    margin-bottom: 20px;
}
.calendar-widget table {
    width: 316px;
    font-size: 11px;
    font-weight: bold;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #FFF;
}
.calendar-widget .week-row th {
    background: #222;
    color: #FFF;
    font-size: 12px;
    line-height: 16px;
}
.calendar-widget .week-row th.day-week {
    width: 30px;
}
.calendar-widget td.day-week {
    text-transform: uppercase;
    background: #CCC;
}
.calendar-widget td.day-week:first-child {
    border-right: 1px solid #FFF;
    box-shadow: inset 4px 0 3px -3px;
}
.calendar-widget td.day-week:last-child {
    border-left: 1px solid #FFF;
    box-shadow: inset -3px 0 3px -3px;
}
.calendar-widget td {
    line-height: 25px;
}
.calendar-widget .date {
    background: #e4e4e4;
}
.calendar-widget .date.grey {
    color: #666;
}
.calendar-widget .date.active {
    color: #861113;
}
.calendar-widget .date span {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    transition-property: background;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}
.calendar-widget .date.selected span {
    background: #ff1e36 !important;
    color: #FFF;
}
.calendar-widget .date span:hover {
    background: #67aaff;
    color: #FFF;
    cursor: pointer;
}
.calendar-widget .loader {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s,opacity 0.5s linear;
    background: url(/css/vendor/images/fancybox_loading.gif) no-repeat center;
    width: 316px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    z-index: 1;
}
.calendar-widget .loader.active {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
span.calendar-listing__month {
    text-transform: capitalize;
}
.events .events-wrapper{
    overflow: hidden;
}
.articles__add.disabled {
    background: #ccc;
}
.map-project{
    z-index: 1;
    max-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
}
.leaflet-popup {
    display: none !important;
}
.region-slide-links {
    margin-bottom: 20px;
}
.ui-menu .ui-menu-item {
    font-size: 12px;
}
.popup{
    margin: 0 !important;
}
.popup .errorMessage {
    color: #CE1818;
    margin-bottom: 10px;
}
.articles-item_half_big {
    vertical-align: top;
}
.project__title a{
    color: inherit;
    text-decoration: inherit;
}
a.inherit{
    color: inherit;
    text-decoration: inherit;
}