.row .articles-item_half_mr
{
    vertical-align: text-top;
}
.banner {
    border: none;
}
.calendar-widget {
    min-height: 500px;
}
/* line 2454, ../sass/_components.scss */
.calendar-widget table {
    width: 316px;
    font-size: 11px;
    font-weight: bold;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #FFF;
}
/* line 2462, ../sass/_components.scss */
.calendar-widget .week-row th {
    background: #222;
    color: #FFF;
    font-size: 12px;
    line-height: 16px;
}
/* line 2468, ../sass/_components.scss */
.calendar-widget .week-row th.day-week {
    width: 30px;
}
/* line 2471, ../sass/_components.scss */
.calendar-widget td.day-week {
    text-transform: uppercase;
    background: #CCC;
}
/* line 2475, ../sass/_components.scss */
.calendar-widget td.day-week:first-child {
    border-right: 1px solid #FFF;
    box-shadow: inset 4px 0 3px -3px;
}
/* line 2479, ../sass/_components.scss */
.calendar-widget td.day-week:last-child {
    border-left: 1px solid #FFF;
    box-shadow: inset -3px 0 3px -3px;
}
/* line 2483, ../sass/_components.scss */
.calendar-widget td {
    line-height: 25px;
}
/* line 2486, ../sass/_components.scss */
.calendar-widget .date {
    background: #e4e4e4;
}
/* line 2489, ../sass/_components.scss */
.calendar-widget .date.grey {
    color: #666;
}
/* line 2492, ../sass/_components.scss */
.calendar-widget .date.active {
    color: #861113;
}
/* line 2495, ../sass/_components.scss */
.calendar-widget .date span {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    transition-property: background;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}
/* line 2504, ../sass/_components.scss */
.calendar-widget .date.selected span {
    background: #ff1e36 !important;
    color: #FFF;
}
/* line 2508, ../sass/_components.scss */
.calendar-widget .date span:hover {
    background: #67aaff;
    color: #FFF;
    cursor: pointer;
}
/* line 2513, ../sass/_components.scss */
.calendar-widget .loader {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s,opacity 0.5s linear;
    background: url(/css/vendor/images/fancybox_loading.gif) no-repeat center;
    width: 316px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    z-index: 1;
}
/* line 2526, ../sass/_components.scss */
.calendar-widget .loader.active {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}